[2016-01-21 09:38] sonicyao1985 opened #53 "About warmboot"
It is written in the document that this doc deals with restart and upgrade without impacting data plane. So the switching CHIP will not be reset, while NPU SDK might get re-initialized??

[2016-01-21 17:05] lguohan commented on #53
That's one implementation approach, a common one. Some chip might support partial reconfiguration without hitting the data plane, that might be another approach.

[2016-01-23 00:51] zubinshah commented on #53
@lguohan @sonicyao1985 how do you control or quantify this partial reconfiguration ? should we or do we want to explicitly mention the expected behavior for this case .

[2016-01-29 11:13] atitjain commented on #53
@AnbalaganNatchimuthu Please help me understand following from the warmboot proposal:

1. It seems the boot type flag is sent as part of the shutdown_switch API and not from the initialize_switch API. So is adapter supposed to remember this parameter. Typically this is system/platform/application code that should be reading the bootflags. The bootflags are set during shutdown or even as part of si

[2016-02-01 10:11] AnbalaganNatchimuthu commented on #53
Dell - Internal Use - Confidential
Hi,

1.      The shutdown_switch API is not taking the boot_type flag. The shutdown_switch API is used to trigger a planned restart. Once this trigger reaches SAI,  SAI would dump its contents to NV store and the also trigger the NPU to dump its contents to NV Store and enter restart. The bootflags indicating the type of boot (either warm or cold) are read from t

[2016-02-29 08:59] atitjain commented on #53
Why not pass the boot-flag things from the system side (infrastructure and other things around the host adapter) to the SAI swith init API, this makes things simpler for various implementations.

[2016-03-18 18:30] johnarnold opened #75 "sai_ut tests not working"
sai_ut tests don't work with latest SAI implementations.  These should be updated or deprecated.

Thanks,
John

[2016-03-23 13:55] SathishKumarTR-Dell commented on #75
Hi John,
I have raised a pull request with the updated files.

[2016-07-19 13:29] #53 closed

[2016-07-21 14:32] sonicyao1985 opened #152 "ATTR_PORT_ID in fdb entry MANDATORY_ON_CREATE?"
In saifdb.h, SAI_FDB_ENTRY_ATTR_PORT_ID refers to the dest port/LAG/l2tunnel of the fdb entry, which is marked as MANDATORY_ON_CREATE. If I'm creating a fdb entry with packet action DROP,do I still have to set the SAI_FDB_ENTRY_ATTR_PORT_ID attribute??

[2016-07-21 20:29] lguohan commented on #152
the port id MANDATORY only when the packet action needs the port, for example forward, log. If the packet action is DROP, then the port_id is not needed. i'll generate a pull request to clarify this.

[2016-07-29 05:23] #152 closed

[2016-08-18 05:27] shaharg3465 opened #174 "Updates to basic_router.cpp"
I have an update for basic_router.cpp to work with the new SAI APIs for VLANs.
How can I send the changes?

[2016-08-18 06:18] stcheng commented on #174
@shaharg3465 You could create a pull request against the current master for code review.

[2016-08-18 06:27] shaharg3465 commented on #174
I probably don't have the right permissions to do it or my procedure is wrong.
can you help with the right flow?

[2016-08-24 00:10] lguohan commented on #174
merged https://github.com/opencomputeproject/SAI/pull/176

[2016-08-24 00:10] #174 closed

[2016-09-05 22:44] kcudnik opened #195 "CPU port"
Is cpu port treated as SAI_OBJECT_TYPE_PORT and can be assigned in every place where PORT can be assigned ? Like in LAG or TUNNEL? if not, then we need separate type for it like  SAI_OBJECT_TYPE_CPU_PORT

[2016-09-06 18:24] kcudnik opened #197 "Buffer profile issue"
[code]

Those attributes are conditional and they depend on buffer pool attribute setting not on buffer profile setting, and pool id can be changed dynamicly event to NULL, so it causes problem what those values should be then

[2016-09-06 18:25] kcudnik commented on #197
dynamic TH is as int8  but static TH is uint32 is that correct ?

[2016-09-06 20:29] kcudnik opened #198 "SAI_SWITCH_ATTR_COUNTER_REFRESH_INTERVAL"
Since description of this attribute suggest that there can be provided invalid value and error may be returned, there should be an attribute that will get valid ranges for this attribute

[2016-09-06 23:35] kcudnik opened #199 "SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID should be removed"
/*\* tunnel GRE key valid [bool](CREATE_ONLY) (default = false)
     \*  (valid only when SAI_TUNNEL_ATTR_TYPE = SAI_TUNNEL_IPINIP_GRE) */
    SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID,

   /*\* tunnel GRE key [sai_uint32_t](MANDATORY_ON_CREATE when
     *  SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID=true) (CREATE_ONLY) */
    SAI_TUNNEL_ATTR_ENCAP_GRE_KEY,

SAI_TUNNEL_ATTR_ENCAP_GRE_KEY should be mandatory on

[2016-09-07 00:46] lguohan commented on #199
for IP in IP gre tunneling, gre key is an optional field. see rfc2890

2. Extensions to GRE Header

   The GRE packet header[1] has the following format:

[code]

[2016-09-07 02:31] kcudnik commented on #199
Then this is "stacked" attribute dependency SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID depend on SAI_TUNNEL_ATTR_TYPE and SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID depend on SAI_TUNNEL_ATTR_ENCAP_GRE_KEY_VALID

In the GRE header if K flag is set to zero, does it mean that Key field is not sent over channel? and after Reserved1 comes Sequence Number? or Key also passes but it's value is unspecified ?

[2016-09-07 19:02] kcudnik opened #202 "SAI_PORT_ATTR_ADVER* attributes from saiport.h needs default value defined"
SAI_PORT_ATTR_ADVER\* attributes from saiport.h needs default value defined and also flags whether create_only or create_and_set etc

[2016-09-08 18:27] kcudnik opened #205 "SAI_HOSTIF_TRAP_ATTR_FD missing object type"
/*\* file descriptor [sai_object_id_t]
     \* Valid only when SAI_HOSTIF_TRAP_ATTR_TRAP_CHANNEL == SAI_HOSTIF_TRAP_CHANNEL_FD
     \* Must be set before set SAI_HOSTIF_TRAP_ATTR_TRAP_CHANNEL to SAI_HOSTIF_TRAP_CHANNEL_FD
     \* (default to SAI_NULL_OBJECT_ID) */
    SAI_HOSTIF_TRAP_ATTR_FD,

[2016-09-08 18:31] kcudnik opened #206 "SAI_HOSTIF_TRAP_ATTR_PORT_LIST needs more explanation"
[code]

what objects can be provided to that list ? only SAI_OBJECT_TYPE_PORT ?
what happens if we create/remove/create port and this attribute is not set?

Also if we set empty list here does empty list will mean "to all ports" ?
if not, then after set, user will need to keep updating this every time port changes

[2016-09-08 20:50] kcudnik opened #207 "SAI_QOS_MAP_ATTR_MAP_TO_VALUE_LIST needs more information"
[code]

What those defaults mean? is there a default list with qos maps assigned when we create new qosmap ?
how many entries are on that list ? should this parameter be  MANDATORY_ON_CREATE|CREATE_ONLY ?

[2016-09-09 23:58] kcudnik opened #210 "SAI_ACL_TABLE_ATTR_GROUP_ID is object id but no api to create it"
SAI_ACL_TABLE_ATTR_GROUP_ID is object id but there is no API that user can call
to create acl table group_id. What is usecase of acl group then? are acl groups created on switch?

It will be tricky to track this object usage since user is not explicitly creating this object.
If user create acl table, and get this group id, then pass it when creating other acl table, and remove first table, group i

[2016-09-14 07:44] JasonFanNephos opened #213 "Questions about QOS TC and COLOR mapping"
I have two questions about the QOS TC/Color mapping design

1. Why separate DSCP to TC and COLOR to two different tables (SAI_QOS_MAP_DSCP_TO_TC and SAI_QOS_MAP_DSCP_TO_COLOR) ?
It seems asymmetric to SAI_QOS_MAP_TC_AND_COLOR_TO_DSCP.
For ASIC which treats it as one map, there is additional effort to mange the relationship between SAI qosmaps and SDK qos profile. Same issue also happened to DOT1P

[2016-09-23 20:03] lguohan opened #232 "L3MultipleEcmpLagTest"
- Create virtual router
- Reserve port[0] for sending packet. Create a router interface for port[0]
- Test following ECMP and LAG combination:
  - ((n-1)x1 + 1xm), where m = [2, ..., k+1-n], and n is from [2, ...,15]
    where n is the number of members in the ecmp group, and k is the total number of ports, e.g, 16 ports.
- For each combination, using follow steps to test
  - create n-1 router int

[2016-09-23 21:44] engdorm commented on #232
not sure what's 'm' represent; is it the number of ports with Rifs connectivity ?
and I think that 'n' is the number of next hops in the ecmp group (and there's only one),
because you wrote : " n is from [2, ...,15] where n is the number of ecmp groups"
but then you also wrote : "create 1 ecmp group that contains n router interfaces"

so if I understand it correctly in pseudo code :

create a virt

[2016-09-23 21:45] engdorm commented on #232
`create a virtual router
port[0] connected to router with rif port
make new lag that is connected to router with lag rif
for number_lag_members range(2,15):
    for i in range(1,number_lag_members): add port[i] to lag
    for i in range(number_lag_members,15): connect port[i] to router with rif port
    create neighbors for all of the rifs
    make a new ecmp group with all the of the rifs except

[2016-09-23 21:48] lguohan commented on #232
you are right "n is the number of members in the ecmp group" (corrected)

[2016-09-27 09:20] stcheng opened #236 "IPv6 PTF Tests"
This issue will have discussions about the IPv6 PTF tests that are needed for SAI.

[2016-10-01 00:37] lguohan commented on #236
Need to test different SAI prefixes.

[2016-11-07 20:42] engdorm opened #297 "add L2 unknown unicast drop test"
In the Flood test in sail2.py
after the flooding and the verifying checks,
Need to set SWITCH_ATTR_FDB_UNICAST_MISS_ACTION to SAI_PACKET_ACTION_DROP
And send the packets again and see that the packets are been drop.

[2016-11-09 19:54] lguohan commented on #297
@stcheng , can you comment?

[2016-12-10 06:34] kcudnik opened #328 "Convert acl capability to switch attributes"
Currently for different acl stage GET api will return different values which is not unified with other "GET" apis of sai objects, please convert acl capability for each stage to readonly attribute of switch, still it will be possible to add new stages in the future as new switch attributes

[2016-12-10 06:39] kcudnik opened #329 "SAI_SWITCH_ATTR_INIT_SWITCH purpose explanation"
Is this attriute needed ? Can it be explained more? Current description is not precise and it suggest that create_switch() need to be called twice to create single switch, please provide extensive explanation for this flag

[2016-12-14 23:01] kcudnik commented on #329
explained offline

[2016-12-14 23:01] #329 closed

[2016-12-14 23:04] kcudnik commented on #210
solved by acl table group member

[2016-12-14 23:04] #210 closed

[2016-12-14 23:05] kcudnik commented on #205
solved

[2016-12-14 23:05] #205 closed

[2016-12-14 23:07] #198 closed

[2016-12-14 23:07] #199 closed

[2016-12-14 23:07] #197 closed

[2016-12-14 23:08] #206 closed

[2016-12-14 23:09] #207 closed

[2017-01-25 07:03] kcudnik commented on #328
Already solved and commited

[2017-01-25 07:03] #328 closed

[2017-02-08 19:27] tushar-ty opened #412 "Bind list attrib type change for disable flow."
For the following bind unbind mechanism (same for port, router intf, etc):

---------------------------------
/**
     * @brief LAG bind point for ingress ACL object
     *
     * Bind (or unbind) an ingress acl table or acl group on a LAG. Enable/Update
     * ingress ACL table or ACL group filtering by assigning the list of valid
     * object id. Disable ingress filtering by assigning SAI_NULL_

[2017-02-08 20:03] kcudnik commented on #412
This would require adding new attribute value type, which i'm fine with since this object will contain only object id's it will be easy to track dependencies on that

[2017-03-01 20:14] lguohan commented on #412
I am fine with it, except for the fact we have changed the acl_bind_list in the master to acl_table, or acl_table_group.

[2017-04-10 15:17] #412 closed

[2017-04-10 18:19] tushar-ty opened #498 "1.0 ACL spec bind point type assignments clarification."
In the following documentation/example:

--------------------------------------------
Example 3 - Create an ACL group

This example creates and ACL group with more than one ACL table and bind it to a port, the very same way an ACL table was bound to a port in Example 1.

// CREATE AN INGRESS ACL TABLE GROUP
sai_object_id_t acl_grp_id1 = 0ULL;
acl_grp_attr[0].id = SAI_ACL_TABLE_GROUP_ATTR_ACL_STAGE

[2017-04-12 17:51] shihjeff opened #500 "Port Creation behavior from 0.9.4 -> 1.0"
Hi All,

We have encountered different expectations in the port creation logic post-0.9.4 and wanted to get this clarified so we all users of SAI has the same expectations since doxygen comments are vague on this.  In 0.9.4, sai_create_port_fn didn't exist, so folks expected all ports to be created.  0.9.6 and onward, the API exists and views on initial behavior start to differ.

Here are the two

[2017-04-13 08:49] AshokDaparthi commented on #500
Dell - Internal Use - Confidential

Hi,

If i remember correctly based in previous discussions,  suggested to create ports as part of sai_initialize_switch.
It can be default mode ports or exactly based on platform requirements. Since many vendors has config files to init NPU.
This can be passed by profile id/key value pairs concept or provide by the SAI implementation required configuration file

[2017-04-13 14:43] lguohan commented on #500
agree with ashok. I think it is still following the 0.9.4 convention, now in 1.0, the create_switch will create default ports based on the profile, if there no profile, then it will create default mode. The create/remove port is used for break out mode.

[2017-04-13 15:29] shihjeff commented on #500
As per consensus in meeting, we will follow 0.9.4 convention and create the ports in the given profile.

[2017-04-13 15:29] #500 closed

[2017-04-28 12:15] vkochan-mlnx opened #513 "Scheduler group parent node as port"
In the commit:
    e819bc404e32b694a6df7d96157364d7b8ece546|| Add check for mixed object types on object id lists (#364)

it was added SAI_OBJECT_TYPE_PORT into @objects section for the SAI_SCHEDULER_GROUP_ATTR_PARENT_NODE attribute,
but there already exists SAI_SCHEDULER_GROUP_ATTR_PORT_ID attribute which can be used in case if the parent node is not specified,
is there any other reason to specif

[2017-04-28 12:20] AshokDaparthi commented on #513
Dell - Internal Use - Confidential

Hi,

For level 0 nodes parent is port. Either we have to documents, Level 0 this attribute is not mandatory or  port is parent.

Regards
Ashok D
From: Vadim Kochan [mailto:notifications@github.com]
Sent: Friday, April 28, 2017 5:45 PM
To: opencomputeproject/SAI <SAI@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [opencomputeproject/S

[2017-04-28 12:23] vkochan-mlnx commented on #513
So my understanding is that we do not have to specify SAI_SCHEDULER_GROUP_ATTR_PARENT_NODE for the level 0 ?

[2017-04-28 12:27] AshokDaparthi commented on #513
Dell - Internal Use - Confidential

Yes, Level 0 is special case instead of leaving parent is NULL/not needed, we allowed port oid as parent.

Regards
Ashok D
From: Vadim Kochan [mailto:notifications@github.com]
Sent: Friday, April 28, 2017 5:54 PM
To: opencomputeproject/SAI <SAI@noreply.github.com>
Cc: Daparthi, Ashok <Ashok_Daparthi@Dell.com>; Comment <comment@noreply.github.com>
Subject: Re: [o

[2017-04-28 12:33] vkochan-mlnx commented on #513
So then it is not needed to have SAI_OBJECT_TYPE_PORT in @objects section ? Or it is needed to handle
multiple cases:

    1) level=0, parent_node=port
    2) level=0, parent_node is not specified, so the port from the "port" attribute is used

?

[2017-04-28 22:43] tushar-ty opened #518 "Setting actual count for overflow in the called routine."
Is the following mechanism accurate ?
"the callee will set the count"
i.e will it work while the address of the count is not passed to the called routine..

Maybe an example showing the working mechanism would help.

/**
 * @brief Defines a list of SAI object ids used as SAI attribute value.
 *
 * In set attribute function call, the count member defines the number of
 * objects.
 *
 * In get attri

[2017-04-28 22:44] tushar-ty commented on #498
Any inputs on this ?

[2017-04-29 19:59] zubinshah commented on #498
Hi @tushar-ty : both acl-group and acl-table accepts an attribute-list "Bind_Point". If you notice int the saiacl.h both these attributes are NOT MANDATORY.

However, the flow / sequence of operations is important, since an ACL table created can be bound to a bind -point directly, or via an ACL Group (which is created as a separate event).

I believe in the community we wanted to keep this behavio

[2017-05-02 16:06] tushar-ty commented on #498
Thanks for the info.

[2017-05-02 16:06] #498 closed

[2017-05-03 07:11] kcudnik commented on #518
Yes, if caller call GET api for getting object list, and specifies count = 20, and allocate buffer for 20 objects, but actually there is 15 objects, callee will populate 15 objects on list and set count to 15, so caller can know what actual count of object is since he overshoot count.

[2017-05-05 15:24] yakivh opened #542 "Metadata for ACL USER_DEFINED_FIELD group of attributes"
@kcudnik can you please consider adding a metadata for the following attributes:
SAI_ACL_TABLE_ATTR_USER_DEFINED_FIELD_GROUP_MIN
SAI_ACL_TABLE_ATTR_USER_DEFINED_FIELD_GROUP_MAX
SAI_ACL_ENTRY_ATTR_USER_DEFINED_FIELD_MIN
SAI_ACL_ENTRY_ATTR_USER_DEFINED_FIELD_MAX

Thanks

[2017-05-06 00:55] kcudnik commented on #542
Can you generate PR for that? Since i don't know what metadata should look like for those

[2017-05-11 18:55] #518 closed

[2017-05-11 20:45] #195 closed

[2017-05-17 08:26] vkochan-mlnx commented on #513
@lguohan  Would you please give some clarification on this ? As it is till not clear for me.

Thanks,

[2017-05-23 16:09] lguohan commented on #513
it seems redundant, you can add metadata conditional on level > 0 to make this attribute conditional. and then remove the SAI_OBJECT_TYPE_QUEUE

[2017-05-23 16:15] vkochan-mlnx commented on #513
thanks, but you meant to remove SAI_OBJECT_TYPE_PORT ?

[2017-05-23 17:20] kcudnik commented on #513
currentyl condition operator supports only "==" but there is a plan do add other operators, but this will complacate a lot comparison logic logic,
you can live in description proper condition restriction, and for now if you want force it you can and each condition as " level == 1 or level == 2 or level == 3" how many levels we can have right now ? 8? 16?

[2017-05-23 17:21] kcudnik commented on #513
anywy, i already saw on other vendors implementation that level 0 is implemented correctly anyway pointing to port

[2017-05-23 18:31] lguohan commented on #513
sorry for the typo, yes, remove SAI_OBJECT_TYPE_PORT

[2017-06-04 15:56] kcudnik commented on #202
Resolved on 1.0

[2017-06-04 15:56] #202 closed

[2017-06-04 15:57] kcudnik commented on #75
Closing, over 1 year old and solved

[2017-06-04 15:57] #75 closed

[2017-06-04 16:00] kcudnik commented on #232
Resolved in #291

[2017-06-04 16:00] #232 closed

[2017-06-13 18:51] shihjeff opened #633 "Mix advertised & attr FEC mode?"
Hi All,

There has been two different interpretations of the use of below port attributes and we wanted to query the group to see what is the "expected" behavior:
SAI_PORT_ATTR_ADVERTISED_FEC_MODE
SAI_PORT_ATTR_FEC_MODE

Interpretation #1:
They are mutually exclusive and cannot be combined in the same call.  SAI_PORT_ATTR_ADVERTISED_FEC_MODE is for AN and SAI_PORT_ATTR_FEC_MODE is for fixed mode.

[2017-06-15 16:11] shihjeff commented on #633
@lguohan - can you comment?  Especially the model of processing multiple attributes (individually or summation)

Typically most folks assume RS is higher priority than FC if both are advertised.  Is this a safe assumption since RS is newer than FC?

In interpretation #2, instead of re-using an existing enum for the purpose of FEC prioritization (If user wants to set FC > RS), would it be better to

[2017-06-21 02:14] shihjeff commented on #633
I think most folks are more into interpretation #1.

This means that for folks who want control of the "request" bits for AN, there is no attribute.  Should we create a new one like SAI_PORT_ATTR_ADVERTISED_FEC_REQUEST_MODE and maybe change existing to SAI_PORT_ATTR_ADVERTISED_FEC_ABILITY_MODE to make it explicit what part of AN process this is controlling

since SAI_PORT_ATTR_ADVERTISED_FEC_MODE

[2017-06-21 17:40] kcudnik commented on #542
Take look at PR #636

[2017-06-22 20:10] shihjeff commented on #633
I've created PR#640 to address this issue.
https://github.com/opencomputeproject/SAI/pull/640

I've added the request bit as an explicit parameter to be toggled and added comment about ability bit implicitly set if FEC is advertised.

[2017-06-23 10:26] aspirine92 opened #642 "saiport.h has controversial api for set/get attribute(s)"
Current implementation of set and get functions are different. Set works only with one attribute, but get can parse list of attributes.
See code below(saiport.h):
**get**
[code]
**set**
[code]
Solution: need to change set function in sync with get function

[2017-06-23 18:40] c-wichmann opened #644 "SAI Host Interface for 0.9.6"
Looking at the SAI version for 0.9.6, it appears that there is 1.0 changes merged into it?

Is the branch correct (and the comment incorrect) or did 1.0 changes get accidentally included in the 0.9.6 branch?
https://github.com/opencomputeproject/SAI/blob/v0.9.6/inc/saihostintf.h

[2017-06-26 06:27] lguohan commented on #644
if I recall correctly, the only thing not included in 0.9.6 is the bridge port proposal.

[2017-06-26 06:30] lguohan commented on #642
to avoid complex failure handling behavior (in case you set multiple attributes but one of them has failure), the set api (all set APIs) can only set one attribute.

[2017-06-26 09:14] aspirine92 commented on #642
I'd expect to see 4 different functions:
[code]
Let the SAI user to choose how to set/get attribute(s)

[2017-06-28 04:42] kcudnik commented on #642
There is no need for get "list" since current get function can get 1 or n attributes at once. As for set, as @lguohan said, it's by design to support only 1 attribute on set. Also if you need set with multiple attributes it's easy for user to implement that and handle failures in the way user want.

Can you give a valid example when setting more attributes at one have more benefits/advantage than

[2017-07-03 09:34] aspirine92 commented on #642
ok, Ex.
I want to set 5 attributes and I need to check each one step by step. I just want to check if value is set correctly.

[code]

[2017-07-03 09:47] aspirine92 commented on #642
In case of setting list of attributes in a function, one advantage is to check if this function will return no error. So I`m expecting that all the values are set correctly. But there is no such API in SAI, user needs to make it, create some loop and call set function step by step.

[2017-07-07 06:47] kcudnik commented on #542
Closing this since auto generation was added

[2017-07-07 06:47] #542 closed

[2017-07-07 06:53] kcudnik commented on #642
This is fine when all attributtes will be set succesfully, but when one of them fails then behaviou can be ether fail right away and not set other attributes or continue set, but when continuing, more attributes can fail. So setting 1 attribute give user control on what he wants to do in case of failure. I think i dont fully understand your example

[2017-07-11 17:38] #633 closed

[2017-07-17 18:56] satya-ananya-pidikiti opened #680 "Transporter"
Hi,

Could you please give me an idea what the transporter object is used for in the saitam.h file?

[2017-07-28 16:12] yakivh opened #693 "ACL UDF attributes"
Hi,

I want to discuss ACL UDF attributes

Let's consider an example.
We want to match an IPv4 packet with header length 20 bytes

It requires the following steps:
1. Creating UDF Group (which need a UDF and UDF Match)
2. Specifying the UDF Group.
3. Specifying the actual data to match. Which is {value: 0x05, mask: 0x0F}

The issue is that current ACL attributes (SAI_ACL_TABLE_ATTR_USER_DEFINED_FI

[2017-08-24 08:59] reidrac opened #712 "STUB fails to compile"
I'm trying to compile the STUB following the README instructions and it fails with multiple errors.

The instructions don't mention any specific version of GCC; I'm using 4.9.2. I've tried otrer versions with same results.

Please see: [make.log.txt](https://github.com/opencomputeproject/SAI/files/1248263/make.log.txt)

This is for master; tried other banches (e.g. v1.0) with similar results.

[2017-09-15 16:34] vitaliy-senchyshyn opened #715 "Need to pick the "Add doxygen aliases isvlan and validonly" commit from 1.0 to 1.2 as well"
@lguohan @kcudnik Could you please pick this commit: https://github.com/opencomputeproject/SAI/commit/e6d1d41294875a020ecfe78d8db5e9d9fc50f081 from 1.0 to 1.2 as well?

[2017-09-17 16:26] kcudnik commented on #715
i will fix that

[2017-09-18 09:10] kcudnik commented on #715
fixed in #716

[2017-09-29 14:38] #715 closed

[2017-11-12 10:57] kcudnik opened #734 "Function sai_get_tam_histogram_stats_fn has incorrect signature"
Signature is:

[code]

but should be:

[code]

or should there be another method "**sai_get_tam_microburst_stats_fn**" ?
please verify @VitalyVovnoboy

[2017-11-28 19:31] lguohan opened #740 "hash seed value range"
how to get hash seed value range.

[2017-11-29 14:28] SathishKumarTR-Dell commented on #740
The range can be assumed to be 0 to 0xFFFFFFFF as it is of type sai_uint32_t
    /**
     * @brief SAI LAG default hash seed
     *
     * @type sai_uint32_t
     * @flags CREATE_AND_SET
     * @default 0
     */
We could as well add another switch attribute of type sai_u32_range_t which can return the 32-bit maximum by default.

[2018-01-17 11:56] wyd00652 opened #757 "the maximum member number can be added to a acl table group"
Before a acl table group is bound to a binding point,  how many group members can be added to this group？ Are the number of group member in a group depended on the asic implementation？For example, there are 12 tcam blocks in Broadcom chip, so the maximum group member number in a acl group is 12 or less? Thank you very much.

[2018-01-17 12:02] wyd00652 commented on #757
The above question is focus on parallel type group

[2018-02-13 11:45] aspirine92 opened #772 "Queue attribute need to be moved to Queue Stats"
As per SAI 1.2 Queue header we have an attribute that indicates HW state.
See the code below.

[code]

Why this attribute is placed on a Queue, but not on QueueStats? It`s a non-SAI controlled attribute.

[2018-04-06 15:13] sunnogo opened #800 "How to check the version of SAI from code?"
Hi,

I want to check what's SAI version I used from code, but I find that there's no way to do it.

I am using SAI v1.2.4, which is tag with commit id `949cec8a15e926239e78c92a8e57c49c9f0e3874`. I think `SAI/debian/changelog` should be the file I want. However, changelog file haven't been modified with the latest SAI version.

So I think this is a bug, and wish it would be fixed.

Regards,
sunnogo

[2018-04-13 00:46] lguohan opened #803 "when acl table is not bound, what is the available acl entries?"
it could be bound to different binding points and have different capacity.

[2018-04-16 00:43] kcudnik commented on #740
default should be vendor specific?

[2018-04-26 15:59] #734 closed

[2018-05-04 14:25] aspirine92 opened #814 "Switch contains attributes with invalid ranges"
Ex. attribute SAI_SWITCH_ATTR_PFC_TC_DLD_INTERVAL has type sai_map_list_t, which has key as uint32_t and value as int32_t, but SAI_SWITCH_ATTR_PFC_TC_DLD_INTERVAL_RANGE declares only uint32_t for min and max fields.

Need to fix value field type to uint32_t.

Also there is no metrics for the timer. Please provide exact time units (_us_ or _ms_ or _s_)

[2018-05-30 12:05] aspirine92 opened #823 "QoS Map reset the previous state"
Hi,

Just faced with an QoS Map implementation artifacts.

Once we apply QoS Map with the several items, is that expected to reset the previous mapping for the rest available items in Switch before SET operation?

Example:

Create QoS Map 1, Dot1P (PCP or Vlan priority) -> TC [0->1, 1->2]
Create QoS Map 2, Dot1P (PCP or Vlan priority) -> TC [2->3, 3->4]
Apply  QoS Map 1 on the Port 1.
Apply QoS Ma

[2018-05-31 11:56] AshokDaparthi commented on #823
Hi,

Since you applied on port1 with Map2, Values should be below.
[0->0, 1->0, 2->3, 3->4, 4->0, 5->0, 6->0, 7->0]

Regards
Ashok D
From: OPetryshyn [mailto:notifications@github.com]
Sent: Wednesday, May 30, 2018 5:05 AM
To: opencomputeproject/SAI
Cc: Subscribed
Subject: [opencomputeproject/SAI] QoS Map reset the previous state (#823)

Hi,

Just faced with an QoS Map implementation artifacts.

On

[2018-05-31 12:56] aspirine92 commented on #823
Hi @AshokDaparthi ,

Thanks for a quick response, it helped a lot!

[2018-05-31 13:20] aspirine92 commented on #823
Hi,

Just one additional scenario to be clear:

_Example 2._

_Create QoS Map 1, Dot1P (PCP or Vlan priority) -> TC [0->1, 1->2] (CREATE operation)
Apply QoS Map 1 on the Port 1. (SET operation)
Change QoS Map 1, Dot1P (PCP or Vlan priority) -> TC [2->3, 3->4] (SET operation)_

Should we retrieve the same mapping as below?
[0->0, 1->0, **2->3, 3->4**, 4->0, 5->0, 6->0, 7->0]

Thanks

[2018-05-31 14:13] aspirine92 commented on #823
Reopening since one more case needs to be cleared..

[2018-05-31 15:03] AshokDaparthi commented on #823
Set is expected to appended list.

[2018-06-01 08:29] aspirine92 commented on #823
Hi @AshokDaparthi ,

Ok, I see. So how it should handle duplications in old and new list? It`s very complicated implementation as per SAI wrapper...

So at least there is no info about the designed behavior of SAI_QOS_MAP_ATTR_MAP_TO_VALUE_LIST. We should explain to the end-point users what happens under the SET operation here..

Thanks

[2018-06-04 08:40] li7hui opened #824 "build error with SAI/test"
Hi,
I got lots of build errors with SAI/tests, many errors complaints the data structure does not exsit in the head files, or the data members does not exist some datatype.
[error.txt](https://github.com/opencomputeproject/SAI/files/2067447/error.txt)

[2018-06-04 15:06] aspirine92 commented on #823
Hi @AshokDaparthi,

I have another question according to SAI_QOS_MAP_ATTR_MAP_TO_VALUE_LIST as appending list.
How can we clear the already configured mapping?

Thanks

[2018-06-13 03:36] hongrun007 commented on #693
Hi,   @kcudnik  @yakivh
Do you have a final result yet? I met same problem. My suggestion is that keep SAI_ACL_TABLE_ATTR_USER_DEFINED_FIELD_GROUP_MIN and SAI_ACL_ENTRY_ATTR_USER_DEFINED_FIELD_GROUP_MIN unchange,
then add a new attribute  SAI_ACL_ENTRY_ATTR_USER_DEFINED_FIELD_VALUE_MIN to acl entry like this:
  /**
     * @brief User Defined Field data for the UDF Groups in ACL Table
     *
     *

[2018-06-16 23:28] drobinkent opened #832 "Complete feature list of SAI"
Which document provides the complete list of features of SAI?

I am trying to compare multiple devices based on their features.

[2018-07-23 11:34] kcudnik commented on #832
SAI headers declare all the features, but it's up to the vendor which feature will be implemented

[2018-08-09 22:06] loshihyu opened #856 "SAI L3 Intf 0 MTU size"
Hi,

Current SAI, e.g.: v3.1.3.4, L3 Intf 0 is with fixed size 1514, and ASIC is only able to forward L3 routing packets up to 1532 bytes (1514 + 14 bytes L2 header + 4 bytes FCS). Need fix to make it maximum value or configurable from SONiC.

root@SONiC-Inventec-d7032-100:/home/admin# bcmcmd "l3 intf show"
l3 intf show
Free L3INTF entries: 8188
Unit  Intf  VRF Group VLAN    Source Mac     MTU TTL

[2018-08-10 19:42] prsunny commented on #856
I think this MTU value can be fixed as 16536 (max value) when Vlan 1 router interface is created. This cannot be configured from Sonic. Note, In Sonic, only CPU port is part of Vlan 1

[2018-08-10 22:09] loshihyu commented on #856
Thanks for your follow-up Prince, ShuoTian!

The issue is about switch front-panel ports.

We are testing ip mtu with SONiC 201803 branch image on our Broadcom Tomahawk (bcm56960) d7032 switch. After changing ip_mtu to 9100, we saw SONiC "show interface status", e.g. Ethernet0, has 9100 ip_mtu size and "bcmcmd ps" shows 9122. The problem we hit is that only able to route and forward up to 1532 byt

[2018-08-28 10:07] aparikshya opened #863 "In enum _sai_tunnel_map_type_t ,TUNNEL Map Bridge IF to VNI should be Bridge ID to VNI"
The map type should be from bridgeId to VNI and VNI to bridgeId.
This will be in sync with the sai map entry attributes  SAI_TUNNEL_MAP_ENTRY_ATTR_BRIDGE_ID_KEY  and SAI_TUNNEL_MAP_ENTRY_ATTR_BRIDGE_ID_VALUE

[2018-08-28 17:26] stcheng opened #865 "What is the purpose of having SRC_PORT besides IN_PORT?"
https://github.com/opencomputeproject/SAI/blob/master/inc/saiacl.h#L629
https://github.com/opencomputeproject/SAI/blob/master/inc/saiacl.h#L1255

We have both SRC_PORT for table and entry attributes. What is the difference between this SRC_PORT and the IN_PORT?

[2018-09-21 14:50] boryas commented on #824
I've run into some of these issues as well from trying to figure out the proper initialization sequence. It looks like #250 substantially changed switch_api, but the various stubs/tests were not updated. That accounts for at least some of the errors.

[2018-09-21 15:07] boryas opened #872 "SAI/doc/spec.md initialization instructions out of date"
Unless I'm missing something, as of #250 it appears that switch_api no longer has `initialize_switch`. I think it would reduce confusion to update the description of the proper initialization sequence in spec.md to reflect that.

[2018-09-21 16:36] boryas commented on #872
Similarly, it appears that SAI/test/basic_router/... still assumes the old model and uses the function which has since been removed from the headers.

[2018-11-09 14:50] tushar-ty opened #889 "Description and behavior are a bit confusing."
https://github.com/opencomputeproject/SAI/blob/be1fe4c53428f8872801bcc70e643ec2ba49a753/inc/saihostif.h#L692

Why is an exception required for vlan intf ?

Maybe the description should say that this only applies to port and lag based interfaces and the behavior for vlan intf is always 'strip tag' unless specified otherwise via 'keep tag'.
The following statements appear very contradictory:

     *

[2018-11-12 22:40] #832 closed

[2018-11-30 01:51] hesingh opened #896 "With p4c from today (11/29/2018) flexsai fails to build"
I used the steps to build from https://github.com/opencomputeproject/SAI/tree/master/flexsai/p4/README.md.

The p4c used is from today.  I see the following error on invoking 'make -j3' in p4c/build/

/home/hemant/bak/p4c/extensions/sai/json_stage/sai.cpp: In function ‘int main_wrapper(int, char* const*)’:
/home/hemant/bak/p4c/extensions/sai/json_stage/sai.cpp:128:18: error: ‘Py_DecodeLocale’ was

[2018-12-01 00:20] hesingh commented on #896
The problem is that if one has python2.7 and also python 3.6m installed on their build machine, the flexsai cmake loses its brain.  I had to force specific python3 path in flexsai/p4/backend/CMakeLists.txt and then compiling and linking passed.  I also made one change to sai.cpp to fix compiling.  Diffs are included below.

diff --git a/flexsai/p4/backend/CMakeLists.txt b/flexsai/p4/backend/CMakeL

[2018-12-01 00:55] hesingh commented on #896
It also makes sense to remove all Python code from sai.cpp and just use C/C++ code.  p4c code has long back changed to parsing options using p4c/frontend/common/options.cpp.  Time permitting, I can make the code change.  If anyone has cycles, please make the code change.

[2018-12-01 01:19] hesingh commented on #896
Maybe, more cleanup is needed.
Why does flexsai/p4 need this step before the build?

git checkout 6d265b2d15b927db522c08f36a60fe23784e8357

The commit is related to this PR: https://github.com/p4lang/p4c/pull/1219

[2018-12-02 16:54] hesingh opened #897 "Add output of test case to flexsai/p4"
It is expected that flexsai/p4 code will change, even if it's minor tweaks.  Folks changing the code and working with flexsai/p4 for the first time, have no way of verifying if their code changes pass unit testing.   It would be good to add the log of one test run to the repo, using example.p4, so that folks can see what is output in the sai_p4_compiler/output/example directory.

Later, a formal t

[2019-01-17 21:46] nenonix opened #911 "SPO limit on the number of unique body tokens?"
I am a freelancer working on resolving issues related to Microsoft documentation through Guthub. Could any Microsoft people in the SAI team help me with https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/578?

[2019-02-19 06:05] kattamamatha opened #917 "Set Up required to run PTF tests"
What are the required Set-up/Topology to run any PTF test scripts in SAI

[2019-02-22 11:52] kattamamatha opened #919 "Error while executing Make file in Switch(Server) side"
While trying to install SAISERVER using make command i am facing an issue:
I have SAI header files in /usr/include/sai

server@server-Standard-PC-i440FX-PIIX-1996:~/sai/test/saithrift$ make platform=mlnx clean all

rm -rf ./src/obj ./src/gen-cpp ./src/gen-py saiserver dist
mkdir -p ./src/obj
/usr/bin/thrift -o ./src --gen cpp -r ./src/switch_sai.thrift
[WARNING:/home/server/sai/test/saithrift/src/

[2019-03-14 06:22] jcmathews opened #926 "HEAD END Replication support in SAI"
Hi All,

I would like to know whether Head-End replication support is there in SAI?
If so, could you please give a reference to the same.

Thanks

[2019-03-14 06:53] jcmathews commented on #926
@karthik-krishnamurthy : Do you have any information about this?

[2019-03-14 07:20] sajishv opened #927 "Vxlan Bridging"
Hi,

Do we have a reference implementation which gives the steps (SAI APIs) for supporting/setting up  VxLAN bridging.

Looking for example/help as mentioned for routing in the following document:
https://github.com/opencomputeproject/SAI/blob/master/doc/SAI-Proposal-QinQ-VXLAN.md#examples

Thanks,
Sajish.

[2019-03-20 11:26] mdak1909 opened #930 "Unable to find APIs for listing FDB entries /checking MAC learning"
I need to check whether FDB entries are getting updated and MAC learning is happening or not.Is there any APIs already defined to list FDB entries and check MAC learning.

[2019-03-20 11:35] atitjain commented on #930
Check following APIs
https://github.com/opencomputeproject/SAI/blob/master/inc/saiobject.h

You can use
`sai_status_t sai_get_object_key( _In_ sai_object_id_t switch_id, _In_ sai_object_type_t object_type, _Inout_ uint32_t *object_count, _Inout_ sai_object_key_t *object_list);`

With `object_type`  = `SAI_OBJECT_TYPE_FDB_ENTRY `

[2019-03-20 12:41] mdak1909 commented on #930
Is there any saithrift APIs defined for this.

[2019-03-21 08:21] atitjain commented on #930
No idea about saithirft.

[2019-03-21 10:10] mdak1909 opened #931 "Sai Thrift APIs for listing FDB entries and ensuring MAC learning"
Is there any SAI THRIFT APIs for listing FDB entries.

[2019-03-27 09:07] sajishv commented on #927
Hi All,
Gentle reminder.
I am looking to implement a solution for IRB using SAI and needing help to understand how it can be achieved with SAI.

[2019-04-01 10:04] kattamamatha opened #932 "Where did do_table_add and do_table_delete_entry_from_key functions are defined"
**AddTable** and **RemoveTableEntry** is  calling do_table_add and do_table_delete_entry_from_key with table name and matching_string as query,Where did these do_table_add and do_table_delete_entry_from_key functions defined?

[2019-04-11 07:48] RichardWu-Hebut opened #940 "set_acl_entry_attribute usage"
For one ACL rule that redirect to a neighbor,  when the neighbor is aged, then how could I change the ACL rule from redirect into drop via set_acl_entry_attribute API ?

The direct is set by SAI_ACL_ENTRY_ATTR_ACTION_REDIRECT, and the DROP action is set by SAI_ACL_ENTRY_ATTR_ACTION_PACKET_ACTION.

To approach the goal that the packet matching the acl rule match filed shold NOT be sent out via L2/L

[2019-05-07 08:29] vinayam66 opened #954 "SAI proposal FRR"
The proposal for implementation of FRR in the file SAI-Proposal-FRR.md, is it for MPLS FRR or just normal FRR?

[2019-05-08 10:24] jemifdo opened #955 "SAI_ACL_TABLE_GROUP_ATTR_ACL_BIND_POINT_TYPE_LIST usage"
In the comment for attribute SAI_ACL_TABLE_GROUP_ATTR_ACL_BIND_POINT_TYPE_LIST it is mentioned,

Hope in the above quoted comment the ACL member's bind point list mean the ACL table attribute SAI_ACL_TABLE_ATTR_ACL_BIND_POINT_TYPE_LIST, since there is no such thing for ACL group member.

If so, then assume that an ACL group G1 has bind point list (X,Y) and it has two ACL group members with GM1 and

[2019-06-03 18:17] jean-christophe-manciot opened #968 "src/switch_sai_rpc_server.cpp:48:10: fatal error: sai.h: No such file or directory"
Ubuntu 19.10
sai v1.4.1
thrift 0.12.0

Building with:
[code]
leads to:
[code]
Full build log [saithrift_1.4.1_amd64.build.log](https://github.com/opencomputeproject/SAI/files/3248906/saithrift_1.4.1_amd64.build.log)

[2019-06-09 07:44] #823 closed

[2019-06-09 07:45] #772 closed

[2019-06-09 07:46] #642 closed

[2019-06-21 08:52] #926 closed

[2019-07-09 17:44] tushar-ty opened #984 "SAI objects ACL binding object attrib type."
This mentions 'list' of valid object id, but the attribute type is 'sai_object_id_t' ? Should this instead be 'sai_object_list_t' ? Being able to pass a list will help in setting up multiple bind points in a single 'set' API call as well as removing some of the bindings and finally being able to get all the bindings. Not sure how does it work currently for various vendors for multiple bindings and

[2019-07-30 06:30] tiantianlv opened #992 "How to load LED FW of TH3/TD3 in SAI3.5.2.1 from 201904 branch"
Hi

In ourselves SAI, we will modify the platform initialization sequence to load port led FW for TH3/TD3, add load in src/brcm-sai-odp/os/platform/x86-xgs5-deb80/platform_init.c::common_init_commands[]:

  "m0 load 0 0x0 /usr/share/sonic/platform/linkscan_fw.bin",
  "m0 load 0 0x3800 /usr/share/sonic/platform/custom.bin",

In SAI3.5.2.1 from 201904 branch, how to load the LED firmware in SAI init

[2019-07-31 08:55] reidrac commented on #712
Not using this anymore.

[2019-07-31 08:55] #712 closed

[2019-08-02 07:02] wangshengjun opened #994 "[saithrift]compile error for type convert 'sai_buffer_pool_stat_t*' to 'const sai_stat_id_t*'"
when building the master branch, a compile error occurred.
Log as follows:
src/switch_sai_rpc_server.cpp: In member function 'virtual void switch_sai_rpcHandler::337(std::vector<long int>&, switch_sai::sai_thrift_object_id_t, const std::vector<int>&)':
src/switch_sai_rpc_server.cpp:3378:84: error: cannot convert 'sai_buffer_pool_stat_t* {aka _sai_buffer_pool_stat_t*}' to 'const sai_stat_id_t* {aka

[2019-08-08 08:31] wangshengjun commented on #994
Merged the changed. Close issue.

[2019-08-08 08:31] #994 closed

[2019-09-04 05:52] guodong opened #1001 "Flexsai failed to compile"
Hi, I'm trying to build the flexsai, when successfully build, I run time example, but it shows errors bellow
[code]
The output only contains a parsed example.json file, no SAI headers generated

[2019-09-16 12:22] #814 closed

[2019-10-24 21:45] lguohan commented on #992
sonic question.

[2019-10-24 21:45] #992 closed

[2020-01-16 06:33] richard28530 opened #1031 "should distinguish IPv6 neighbor solicitation and neighbor advertisement"
https://github.com/opencomputeproject/SAI/blob/76d7c35b8c877769af40b51ada35ecda7876174b/inc/saihostif.h#L269

like the arp request and reply defined in ipv4, Neighbor Solicitation and Neighbor Advertisement should be define separately in case of user want define them in separate meter.

if they are in the same meter, request attack may result in switch arp update reply no bandwidth. these will lea

[2020-02-17 07:51] jean-christophe-manciot commented on #968
Same issue with:
- Ubuntu 20.04
- sai: v1.5.0
- thrift-compiler: 0.13.0

[code]

[2020-02-17 08:16] jean-christophe-manciot commented on #968
Even a symlink is useless:
[code]
Same with an environment variable:
[code]

[2020-02-20 18:18] srikrishnagopu opened #1045 "Clarification on SAI_ACL_ENTRY_ATTR_ACTION_DECREMENT_TTL"
Could you clarify on what this ACL action is intended for ?

The comment in saiacl.h is confusing for this attribute.

    /**
     * @brief Decrement TTL (enable/disable) (parameter is not needed)
     *
     * @type sai_acl_action_data_t sai_int32_t
     * @flags CREATE_AND_SET
     * @default disabled
     */
    SAI_ACL_ENTRY_ATTR_ACTION_DECREMENT_TTL,

Is this to override the routing decision

[2020-03-02 18:35] lguohan commented on #1045
from the comment, it looks like enable/disable the decrement ttl.

[2020-03-30 16:26] phshaikh opened #1057 "MPLS: label stack hash field for MPLS traffic"
Current SAI spec does not speak about hashing MPLS traffic. A mechanism is needed to indicate underlying Adapters to hash MPLS traffic, and to use as many MPLS labels as possible for the hashing, along with other packet attributes.

Proposing a hash attribute which indicates using label stack for hashing for traffic with MPLS ether-type.

The expectation here is that underlying Adapter (and hardwa

[2020-03-30 17:09] phshaikh opened #1059 "MPLS: QOS Map required for MPLS traffic"
SAI has a QoS map for mapping DSCP to traffic class and to color. SAI also has a QoS map for mapping traffic class and color to DSCP. A similar QoS map is required for MPLS traffic. MPLS traffic carries a 3-bit QoS field in MPLS headers called "EXP".

A map is needed to associate a traffic class to an MPLS packet based on EXP field in the top label.

Accordingly proposing following attributes for

[2020-03-30 17:22] phshaikh opened #1061 "MPLS: Host Traps for expiring TTL and Router Alert Label"
Mechanism is needed to trap MPLS packets with expiring TTL. These are useful to implement diagnostic tools and error reporting.

Mechanism is needed to trap MPLS packets with Router Alert Label. This is as per RFC 3032. When a packet with Router Alert Label is received, trap it for processing in software.

Accordingly two traps are proposed
- SAI_HOSTIF_TRAP_TYPE_MPLS_TTL_ERROR
- SAI_HOSTIF_TRAP_T

[2020-03-30 19:08] phshaikh opened #1063 "MPLS: ACL filters for MPLS packets"
Packets can be filtered based on their contents. A mechanism is being proposed to filter MPLS packets based on their contents. Each MPLS packet contains a list of one or more MPLS label. Each label contains following fields
- 20b Label value
- 8b TTL value
- 3b EXP value
- 1b Bottom-Of-Stack bit

Proposing following ACL table attributes and ACL table entries to filter MPLS packets
1) SAI_ACL_TABLE

[2020-03-30 19:59] phshaikh opened #1065 "MPLS: IP-in-MPLS tunnel"
For any tunneling operation, packets are encapsulated in to outer tunnel headers at ingress and decapsulated back into original inner headers at egress.

This requires handling following
- Setting TTL of outer header at encapsulation
- Setting QoS attributes of outer header at encapsulation
- Updating TTL of inner header at decapsulation
- Updating QoS attributes of inner header at decapsulation

[2020-04-07 07:07] jean-christophe-manciot opened #1069 "Multiple variables have initializer but incomplete type"
Ubuntu 20.04
sai v1.5.2
thrift 0.13.0-2build2

Building with:
[code]
leads to:
[code]
Full build log
[saithrift_1.5.2_amd64.build.log](https://github.com/opencomputeproject/SAI/files/4442533/saithrift_1.5.2_amd64.build.log)

[2020-04-07 07:08] jean-christophe-manciot commented on #968
A workaround is:
[code]
However, [other issues](https://github.com/opencomputeproject/SAI/issues/1069) pop up.

[2020-04-07 07:10] jean-christophe-manciot commented on #968
@parvezshaikh
Has anyone been able to build this debian-style?

[2020-04-17 21:05] #1061 closed

[2020-04-22 01:42] srikrishnagopu opened #1073 "Clarification on IP2ME routes"
When an interface is created, some applications will create two different routes

- /32 or /128 route - Based on the spec, when a route is added, the nexthop will be cpu port. This will be classified as IP2ME and SAI_HOSTIF_TRAP_TYPE_IP2ME will be used to trap/drop the packet and can be policed and sent to the appropriate queue.

- subnet route - Based on the spec, when a connected route is added,

[2020-04-24 21:03] #1057 closed

[2020-04-24 21:04] #1059 closed

[2020-05-08 20:11] #1063 closed

[2020-05-12 21:08] srikrishnagopu commented on #1073
Any thoughts here ?

[2020-05-13 09:14] saikrishna194 opened #1085 "Programming assignment"

[2020-05-13 09:14] #1085 closed

[2020-05-15 02:00] zkun158 opened #1087 "IPv6 segment routing: when the SRv6 endpoint node type is End.T/End.DT6/End.DT4, it is not known which routing table to query for forwarding in the next hop table."
In the draft draft-ietf-spring-srv6-network-programming, the definition of End.T,End.DT6,End.DT4:

1.End.T: Endpoint with specific IPv6 table lookup

2.End.DT6: Endpoint with decapsulation and IPv6 table lookup

3.End.DT4: Endpoint with decapsulation and IPv4 table lookup

For the above end types, the routing table needs to be queried when forwarding packets at the SRv6 endpoint node.

But, sai_ne

[2020-05-28 17:04] tushar-ty opened #1091 "array size overflow ?"
https://github.com/opencomputeproject/SAI/blob/ec7e0555b698614dba3e7237e647f0e86100323b/meta/saiserialize.c#L608

size defined as 12 while code goes accesses beyond 12.

[2020-05-28 17:12] itaibaz commented on #1091
This is already fixed in
https://github.com/opencomputeproject/SAI/pull/1078/files

[2020-06-09 18:28] phshaikh opened #1096 "Question on SAI_SWITCH_ATTR_TYPE and SAI_PORT_ATTR_INTERFACE_TYPE"
Hi,

I am trying to understand correlation between SAI_PORT_ATTR_INTERFACE_TYPE and SAI_SWITCH_ATTR_TYPE.

SAI_SWITCH_ATTR_TYPE can be either NPU or PHY. Can someone help understand the distinction between two? Is there any document which describes the two?

Further SAI_PORT_ATTR_INTERFACE_TYPE is only applicable if the switch is of type PHY. Why is that?

Thanks

[2020-06-19 18:04] tushar-ty opened #1109 "backward compatibility in fn ptr structure"
While adding incremental attributes, enums towards the end of the existing list, backward compatibility could further be easily achieved by adding new fns pts to the end of the structure list.

i.e

    sai_create_port_serdes_fn              create_port_serdes;
    sai_remove_port_serdes_fn              remove_port_serdes;
    sai_set_port_serdes_attribute_fn       set_port_serdes_attribute;
    s

[2020-06-19 18:12] #1091 closed

[2020-06-20 20:19] kcudnik commented on #1109
yes, new functions should always be added to the end of existing structure

[2020-07-31 00:50] itaibaz opened #1120 "mandatory on create + condition"
According to my understanding, when an AttrA is marked MANDATORY_ON_CREATE, and in addition there is a condition AttrB=X or AttrB=Y, this means that a value must be supplied for AttrA on object create if AttrB=X or Y. There is no limitation on the validity of AttrA for other values of AttrB. For example, if AttrB=Z, then AttrA is still valid and a value can be provided on create, but it's not mand

[2020-07-31 04:06] atitjain commented on #1096
PHY is more of the layer1 properties and attributes related to (L2/L3) forwarding are not really needed while programming phy. Looks like the idea here is to use SAI as a phy driver interface.
The SAI_PORT_ATTR_INTERFACE_TYPE is the layer1 type for the phy (electrical and encoding) so its only valid in case of SAI used for phy programming.

[2020-07-31 04:24] atitjain commented on #1073
32 or /128 route - Based on the spec, when a route is added, the nexthop will be cpu port. This will be classified as IP2ME and SAI_HOSTIF_TRAP_TYPE_IP2ME will be used to trap/drop the packet and can be policed and sent to the appropriate queue.
-- For all /32 or /128, we dont need the CPU port. The control plane should be able to figure this out based on use of /32. If its a lo or interface addre

[2020-07-31 04:27] atitjain commented on #1045
Other usecase might be policy based routing where you assign the nexthop based on the ACL action (SAI_ACL_ENTRY_ATTR_ACTION_REDIRECT) and then you add an action to dictate what to do with TTL.

[2020-07-31 07:11] kcudnik commented on #1120
if you have condition, then AttrA is mandatory only when = X or = Y, not Z, even if AttrA value is valid. Currently in sonic/sairedis metadata validation does not allow to pass AttrA if condition is not met, even in AttrA have valid value. is that answering your question ?

[2020-08-12 14:18] stefanheule opened #1121 "Is SAI_ACL_ENTRY_ATTR_FIELD_TTL only for IPv4 TTL, or both IPv6 and IPv4?"
Looking at saiacl.h, the documentation for SAI_ACL_ENTRY_ATTR_FIELD_TTL says "IP TTL", which is ambiguous. Does it refer only to the IPv4 TTL, or both IPv4 TTL and IPv6 hop_limit? Many ASICs support matching on both of these fields depending on the packet type.

Depending on the answer, I'm happy to send a small PR to clarify the documentation afterwards.

[2020-09-03 02:59] #1031 closed

[2020-09-09 09:02] chihhan123 opened #1128 "The correct definition of the return value for getting Auto-negotiation status?"
In saiport.h
/**
     * @brief Attribute data for #SAI_PORT_ATTR_AUTO_NEG_STATUS
     *
     * Auto negotiation (AN) done state: **0 for AN in progress, 0 for AN done**
     *
     * @type bool
     * @flags READ_ONLY
     */
    SAI_PORT_ATTR_AUTO_NEG_STATUS,

Is that 1 for AN in progress, 0 for AN done ?
Or
Is that  0 for AN in progress, 1 for AN done ?

[2020-10-05 17:42] jasmeetbagga opened #1133 "Add functions for packet allocate, free"
Sending a packet requires allocating it first. Typically,
    this requires allocating from a special pool of DMAed memory.
    For this a ASIC vendor SDK may support custom allocate and
    free functions. So mirror those in the SAI spec.

    Without such a ability we are left to allocate heap memory,
    pass it to send_hostif_packet_fn, which then allocates from the
    afore mentioned DMA mem

[2020-10-05 17:45] jasmeetbagga commented on #1133
https://github.com/jasmeetbagga/SAI/commit/72257b22e2b966f254be4b6ff4ce6fcff6b3ba9b

[2020-10-05 18:14] kcudnik commented on #1133
this is valid point, but that way SAI would need to expose some alloc/free functions to actually accomplish that, usually copy memory is fast, and as you suggest in your setup extra copy takes 30% of time, then seems like there is nothing else going on with that packet ? just to put it to dma? do you have any numbers like pkts/sec or bytes/sec how fast this is with/without copy

i think this is go

[2020-10-06 22:37] jasmeetbagga commented on #1133
Thanks for reviewing

I have numbers internally, but probably can't talk about them here w/o violating the ASIC vendor NDA. The way I am comparing this is that for FBOSS - https://github.com/facebook/fboss, we are in the process of converting from native SDK code to SAI. The code using native SDK was following the allocate DMA, write packet there and send out approach vs with SAI we had to do an a

[2020-10-07 08:55] kcudnik commented on #1133
free DMA memory one poll vs another should not take place, since you pass exact buffer pointer to the free function and base on that pointer deallocation should happen internally but i dont know internal details how that dma with pools is implemented, just basing on common alloc/free headers used in industry
also there is another way to recv/send packets using SAI_HOSTIF_TYPE_NETDEV, but this will

[2020-10-15 01:40] jasmeetbagga commented on #1133
I removed attr parameters from free - 35335d9d30247c6782e1b89728fadfefb080fe4a

[2020-10-15 15:45] kcudnik commented on #1133
hostif packet send/recv functions have also attr_list parameter which is attribute list, and for utilize this, we introduced artificial object type SAI_OBJECT_TYPE_HOSTIF_PACKET which corresponds to enum sai_hostif_packet_attr_t which contains attributes that are used by send/rect functions, and not mixed with sai_hostif_attr_t attributes.
from your allocate function: https://github.com/jasmeetbag

[2020-10-15 17:53] jasmeetbagga commented on #1133
@kcudnik that's correct. As discussed in the meeting today added a attribute there to convey zero copy TX - d6e5820a95d104f04e855aa39a98715ad136fdfe

[2020-10-15 18:08] kcudnik commented on #1133
ok, LGTM, if you don't have any other changes i think you can create PR for that

[2020-10-27 09:57] fswang9659 opened #1140 "understanding 'inner',inner vlan or inner packet ?"
Hi,all,

Looking at saiacl.h, I got a question on understanding 'inner'.

SAI_ACL_ENTRY_ATTR_FIELD_INNER_ETHER_TYPE refer to “inner ethernet type”，I think 'inner' means inner packet such as l2 packet in vxlan packet.
SAI_ACL_ACTION_TYPE_SET_INNER_VLAN_PRI refer to “Set Packet Inner Vlan Priority”,this inner means inner vlan in QINQ or means set  inner packet vlan pri of l2 packet in vxlan packet?

[2020-10-29 07:31] tim-rj commented on #917
meet the same question, would you please tell me something about this?

[2020-10-29 10:20] tim-rj opened #1141 "Topology required to run SAI PTF tests"
@lguohan
I'd like to run SAI PTF test on Ruijie's platform, but can't find topology in https://github.com/opencomputeproject/SAI/tree/master/test/saithrift.
Would you please tell me the topoloy? Thanks a lot.

[2020-11-23 09:03] gck-04 opened #1162 "How to generate libsai?"
Hi all,

I am new to this SONiC build work. And I am trying to generate libsai shared library.
Please help me out with steps to build, as there are no proper steps mentioned in the repo.

Any help would be much appreciated.

Thanks,
gck

[2020-11-23 09:41] kcudnik commented on #1162
SAI repo contains only C headers. They define what functions sai library should have. If you want to have your own library, you would need to write it from scratch by/for your self. Currently each hardware vendor that supports sonic write it's own library (like broadcom or mellanox), and they support their own hardware.

Sonic already supports couple types of hardware and for them vendors provide

[2020-11-23 09:59] gck-04 commented on #1162
Hi kcudnik,

Thank you for the reply.

I wanted to build this for p4 soft switch, not for the hardware ASIC.
I could find some Makefile in stub/ directory but it is failing.

My goal is to build sai-redis and sai-swss packages independently. Build is failing because they are dependent on libsai.

Also, if possible please help me understand what is p4-soft switch and what are its components(like ho

[2020-11-23 10:00] gck-04 commented on #1162
Hi kcudnik,

Thank you for the reply.

I wanted to build this for p4 soft switch, not for the hardware ASIC.
I could find some Makefile in stub/ directory but it is failing.

My goal is to build sai-redis and sai-swss packages independently. Build is failing because they are dependent on libsai.

Also, if possible please help me understand what is p4-soft switch and what are its components(like ho

[2020-11-23 13:10] kcudnik commented on #1162
Hey, unfortunately i'm  not followine P4 platform, the only implementation one that i could find is here:
https://github.com/Mellanox/SAI-P4-BM/tree/c763924affd416df9c4d3e40d4f8ac1cb2be5fff/sai_adapter/src and in sonic build image https://github.com/Azure/sonic-buildimage/tree/master/platform/p4

as far as im ware you could pass P4 flags to sonic build image to compile for that platform, but git s

[2020-11-23 13:41] gck-04 commented on #1162
Thank you Kamil.

Hi @lguohan could you please add your thoughts on this?

[2020-12-02 10:00] stephengzh opened #1164 "Errors in SAI ptf test"
Hello, I just built the SAI thrift-ptf. However, when I executed the ptf tests, all tests failed.
The detail is shown below, seems like all tests failed in "TTransportException: Transport not open". But I don't know why. May be I fogot some step in configurations? (The building steps provided in test/thrift/README.md looks  very old and is with a little bit unclear expressions, I try my best to fo

[2020-12-02 10:01] stephengzh commented on #1164
@pavel-shirshov Can you check this issue? Thanks.

[2020-12-03 18:29] kcudnik opened #1165 "SAI_NEIGHBOR_ENTRY_ATTR_ENCAP_INDEX flags"
[code]

Based on https://github.com/Azure/sonic-sairedis/pull/725, seems like for some cases this attribute is CREATE_AND_SET and for some should be READ_ONLY. When this attribute is set by internal SAI, then default value should be set to "internal" and never change during runtime. And in this case it could actually be READ_ONLY, but for remote neighbors seems like this can be create_and_set.
We

[2020-12-07 23:14] kcudnik opened #1167 "Remove stub directory?"
@itaibaz you added this on the first place, is anyone using stub directory ? not much happened since beginning, and it's based on 0.9.4 branch. Do we still need it ?

[2020-12-07 23:16] qiluo-msft commented on #1167
We found a potential integer overflow in below code. If stub is obsolete, let's remove this folder completely.
[code]

[2020-12-07 23:18] itaibaz commented on #1167
Hi, yes I think it's obsolete by now. We used it for a while several years ago. But haven't updated it for a very long time, and I don't know of anyone using it. Also, Sonic has the virtual SAI implementation. So bottom line, we can remove

[2020-12-08 21:01] qiluo-msft commented on #1167
Closed by https://github.com/opencomputeproject/SAI/pull/1168
(I don't have permission to close this issue)

[2020-12-10 08:18] #1167 closed

[2020-12-15 11:21] rajneeshaec opened #1176 "How to run the SAI PTF tests"
I'd like to run SAI PTF tests but can't find steps to run the tests on ASIC hardware
How to bring up the setup to run the SAI PTF test
Are these tests are the benchmark for community SAI testing
Could you please share the docs related to SAI PTF tests

[2020-12-17 17:50] michaelli10 commented on #1165
@kcudnik , would setting "SAI_NEIGHBOR_ENTRY_ATTR_ENCAP_INDEX" to default of "internal" resolve the issue?  If no value is provided by the application, SAI will assign an internally generated value.  Is there some meta checker restriction that a default "internal" value can never change during runtime?

[2020-12-17 19:03] kcudnik commented on #1165
yes, setting default internal will solve the issue, and once assigned ether by user or internal SAI, value should not change during runtime until explicitly changed since value marked as "SET"

[2021-01-29 02:49] itaibaz opened #1188 "some meta data attributes are incorrect"
Hi @kcudnik

for
.allowrepetitiononlist
.allowmixedobjecttypes
.allowemptylist
Seems they are always false in generated saimetadata.c
Seems no tag exposes them, the only tag we have for allow* is "allownull"
Therefor, the generated metadata is incorrect
For example, let's consider

    /**
     * @brief Enable/Disable Mirror session
     *
     * Enable ingress mirroring by assigning list of mirro

[2021-01-29 14:19] kcudnik commented on #1188
yes they are always empty at the moment since they are not implemented, are you planning to use them ?

[code]

[2021-01-30 04:25] itaibaz commented on #1188
Hi, yes I was planning to use these values, especially the allow empty list
Is there any plan on adding them ? (otherwise, maybe better to comment them out not to confuse)
Thanks

[2021-01-30 10:53] kcudnik commented on #1188
yes, i can add support for that

[2021-02-03 11:37] kcudnik commented on #1188
https://github.com/opencomputeproject/SAI/pull/1190

[2021-02-17 08:39] #1162 closed

[2021-03-03 06:24] SarathBug opened #1196 "Clarification on Attr SAI_SWITCH_ATTR_MACSEC_OBJECT_ID"
https://github.com/opencomputeproject/SAI/blob/1eb35afdb2146baf40e6c2b8f2f8bfe99075eaee/inc/saiswitch.h#L2302

SAI switch can have both ingress and egress MACSec objects(https://github.com/opencomputeproject/SAI/blob/master/inc/saimacsec.h#L60) .  The switch object does not appear to accommodate both MACSec objects

[2021-03-03 07:17] SarathBug opened #1197 "SAI_MACSEC_SA_STAT_OCTETS_ENCRYPTED should be a SC counter as specified in 802.1ae statistics"
https://github.com/opencomputeproject/SAI/blob/1eb35afdb2146baf40e6c2b8f2f8bfe99075eaee/inc/saimacsec.h#L844

The description says as below

/**
     * @brief The sum of this count over all Secure Associations of a Secure
     * Channel gives 802.1ae statistics outOctetsEncrypted for egress and
     * inOctetsDecrypted for ingress
     */

If any PHY or switch supports this counter at SC(compliant

[2021-03-04 16:07] lguohan commented on #1196
@dipankar-ba , can you clarify?

[2021-03-04 16:08] lguohan commented on #1197
@dipankar-ba , comments?

[2021-03-04 16:08] lguohan commented on #1165
@rlhui , is this resolved?

[2021-03-04 16:42] kcudnik commented on #1165
no, seems like still not resolved

[2021-03-04 19:27] michaelli10 commented on #1165
Hi @kcudnik,
Adding the email thread with the agreed resolution below.  Looks like the changes have not been added yet.  I'll circle back with the team on adding the changes ASAP.

[2021-03-04 19:55] rlhui commented on #1165
correct. Discussion was closed and resolved but pending Brcm to raise PR for this.  Thanks.

[2021-03-05 17:25] #1188 closed

[2021-03-09 00:19] dipankar-ba commented on #1196
This is indeed a bug - thanks for finding it.  For fix, I just submitted https://github.com/opencomputeproject/SAI/pull/1199

[2021-03-09 01:13] dipankar-ba commented on #1197
Here are the reasons why this SAI counter deviates from the IEEE spec:
1. Per SA count is more granular than per SC count and can be useful for debugging byte loss at boundary of SA switchover.
2. Rolling the per SA count into per SC count would cause information loss for NOS.
3. There are currently 2 MACsec chips that support SAI and both support per SA count.

[2021-03-09 06:55] rlhui commented on #1165
@SarathBug from Brcm will address this. Thanks a lot.

[2021-03-09 11:35] SarathBug commented on #1165
@kcudnik @rlhui

I am seeing meta build error after changing default value from 0 to internal

[code]

 ASSERT FAILED (on line 1188): SAI_NEIGHBOR_ENTRY_ATTR_ENCAP_INDEX: default internal currently can be set only on read only objects
Makefile:79: recipe for target 'all' failed
make: *** [all] Error 1
Build step 'Execute shell' marked build as failure

[2021-03-09 19:23] kcudnik commented on #1165
please relax saisanitycheck.c condition on 1178, add case for this scenario

[2021-03-10 06:18] SarathBug commented on #1197
@dipankar-ba

Thanks for clarifying. Perhaps NOS can display per SA count as additional counter.  per SC count attribute is needed for the chips which don't have support for per SA count.

per SC count attribute:  Chips that have support for it will read it from HW counter
per SA count attribute:  Chips that don't have support will return 0

[2021-03-10 06:23] #1196 closed

[2021-03-10 19:14] dipankar-ba commented on #1197
1. For existing chips with only per-SA counter, if the API exposes both per-SC and per-SA counter then the driver has to construct counter states to support both per-SA and per-SC reads from the NOS.
2. If a future chip that does not implement per-SA count, the driver can return the per-SC count in response to per-SA read from NOS on any of the active SA of the SC.

IMO, option-2 is less complex.

[2021-03-11 12:17] SarathBug commented on #1197
There is an issue with reading SC counters when SA counters are asked for. If there is a SAK refresh between two SA counter reads, it will mess up the SC counter.

As per the standards SoNiC should read the SC counter and it should be up to SAI how these counters are implemented.  Either read from SA or read from SC.  It can lead to performance issues if SoNiC has to read SA counters and sum them

[2021-03-11 21:27] dipankar-ba commented on #1197
Just to be clear, as per existing API, the NOS should sum up the sai_macsec_sa_stat_octets_encrypted for all SAs of an SC.  For a chip that implements per SC counter for octets_encrypted, I am proposing the driver return that counter value in response to NOS reading sai_macsec_sa_stat_octets_encrypted for a single active SA for an SC.  The thesis is since the driver is returning the per SC count f

[2021-03-12 18:00] SarathBug opened #1203 "Add new port type for Recycle port"
It is helpful in certain scenarios for packets that have gone through a full switch pipeline to be re-injected into the beginning (Ingress) of the pipeline. SONiC on a disaggregated VOQ chassis uses this capability. There are other examples. Currently this can only be done via SAI by putting a port in loopback configuration. But this takes a port away from regular network traffic. What is needed i

[2021-03-22 03:35] #1165 closed

[2021-04-20 17:50] zyddnys opened #1223 "Unable to compile p4c SAI backend"
I was following the instruction given in https://github.com/opencomputeproject/SAI/tree/master/flexsai/p4
But it failed to compile with the following error:
Output of `./bootstrap.sh -DENABLE_BMV2=OFF -DENABLE_EBPF=OFF -DENABLE_P4TEST=OFF -DENABLE_P4C_GRAPHS=OFF`:
[code]
Output of `make`:
[code]

[2021-04-23 19:01] itaibaz opened #1225 "spell check for meta dir"
sasanitycheck.c contains a couple of spelling mistakes (extention->extension, swith ->with)
Can we add spell checker to all files in meta dir as part of commit check ?

Thanks

[2021-04-30 20:33] msomasundaran opened #1229 "Add a new counter for mpls lookup miss"
Forwarding lookup miss counters currently exists for IPv4 and IPv6 packet types - SAI_IN_DROP_REASON_LPM4_MISS and SAI_IN_DROP_REASON_LPM6_MISS. Need a similar counter for MPLS lookup miss.

[2021-04-30 20:36] msomasundaran opened #1230 "Attaching counter id to mpls inseg"
IPv4 and IPv6 route objects provide ability to attach a counter id. Need a similar functionality for mpls inseg also.

[2021-05-21 05:43] pony1552 opened #1241 "sai_deserialize_macsec_salt() has incorrect number of parameters parsed"
macsec_salt is defined as char[12]. sai_deserialize_macsec_salt() parses it as char[32]

[2021-05-21 07:20] kcudnik commented on #1241
this was changed in commit 60e21080, author @DeanKalla please fix

[2021-06-03 15:21] lguohan opened #1246 "support more complex condition matching on validonly and condition in the metadata"
@validonly (A == XA or B == YB) and (C == ZC)

[2021-06-03 15:28] kcudnik commented on #1246
We discussed this couple years ago, that supporting such complex conditions will actual lead to inventing our own scripting language, to be able to parse this, since currently it's basically regex split on "or/and" and just searching attributes, so there is no need for understanding bracketing.
Second this is how to write this condition as a structure in metadata, since today we just write attribu

[2021-06-15 21:17] #1229 closed

[2021-06-15 21:18] #1230 closed

[2021-06-24 15:51] kcudnik opened #1254 "[meta] Should we add meta support for query enum/attr value at specific SAI version?"
Motivation here is that between warm boot scenarios from 1 version SAI to 2nd SAI version, enum int values can change, and be different. Should vendor have ability to query them between versions, if for example vendor stored some information inside ASIC at version SAI 1, and then want to query that value during warm boot on SAI v2.
PS. there is ongoing discussion whether we should lock/hard code e

[2021-06-25 13:00] kcudnik commented on #1246
Fixed in https://github.com/opencomputeproject/SAI/pull/1255

[2021-06-25 13:07] kcudnik commented on #1225
sure, i will put that into my TODO list

[2021-06-30 13:44] kcudnik opened #1263 "SAI_SWITCH_STAT_ECC_DROP is not starting at RANGE_BASE"
https://github.com/opencomputeproject/SAI/commit/2234327f#diff-8461e6438fb46cfa3d81a0760d680f8e5ac38c57da553a8f9add2fa3ffde3549R2298

should be SAI_SWITCH_STAT_ECC_DROP = SAI_SWITCH_STAT_FABRIC_DROP_REASON_RANGE_BASE

[2021-06-30 13:47] kcudnik commented on #1263
@michaelli10 can you confirm this is mistake?

[2021-06-30 13:49] kcudnik commented on #1263
Fix: https://github.com/opencomputeproject/SAI/pull/1264

[2021-06-30 21:03] michaelli10 commented on #1263
Yes, thanks for fixing this.

[2021-07-01 21:38] kcudnik commented on #1246
Merged

[2021-07-01 21:38] #1246 closed

[2021-07-01 21:39] kcudnik commented on #1263
Fixed and merged

[2021-07-01 21:39] #1263 closed

[2021-07-07 19:53] ncalad opened #1276 "make test fails. Is sai_switch_notification_t deprecated or missing?"
When running make test, I encounter a build error because sai_switch_notification_t seems to be missing.

./basic_router.cpp:76:1: error: ‘sai_switch_notification_t’ does not name a type; did you mean ‘sai_switch_stat_t’?
   76 | sai_switch_notification_t plat_switch_notification_handlers =
      | ^~~~~~~~~~~~~~~~~~~~~~~~~
      | sai_switch_stat_t
./basic_router.cpp: In function ‘const char* tes

[2021-07-07 20:07] kcudnik commented on #1276
it was updated and changed to sai_switch_notifications_t, i think nobody right now actively monitor "test" directory

[2021-07-07 20:11] kcudnik commented on #1254
after merging https://github.com/opencomputeproject/SAI/pull/1256, this question will become obsolete

[2021-07-08 17:00] Pterosaur opened #1277 "SAI_PORT_ATTR_AUTO_NEG_FEC_MODE_EXTENDED should be moved to READ_ONLY block in SAI PORT"
https://github.com/opencomputeproject/SAI/blob/e38f26b34c25d349dbfd6abbd5fc58f48d720c08/inc/saiport.h#L488

https://github.com/opencomputeproject/SAI/blob/e38f26b34c25d349dbfd6abbd5fc58f48d720c08/inc/saiport.h#L1958-L1966

[2021-07-08 17:16] kcudnik commented on #1277
its not like there is requirement for that, attributes are added at the end as they are introduced, and sometimes grouped in more meaningful manner rather than flags

[2021-07-28 10:22] zhuangjh3 opened #1282 "Can i skip the judgment in SAI/meta/checksymbols.pl?"
I am currently supporting gcov in SAI,but it reported an error such as

ERROR: symbol '000000000000c340 d __gcov_.sai_serialize_udf_group_type' is not prefixed 'sai_metadata_' or not in read-only section
ERROR: symbol '000000000000c380 d __gcov_.sai_serialize_vlan_flood_control_type' is not prefixed 'sai_metadata_' or not in read-only section
ERROR: symbol '000000000000cfc0 d __gcov_.sai_serialize

[2021-07-28 10:35] kcudnik commented on #1282
you need to add exception for gcov in line 42 if symbol matches

[2021-07-28 10:37] kcudnik commented on #1282
something like:
[code]

[2021-07-28 10:38] kcudnik commented on #1282
or add prefix in exitsing one
[code]

[2021-07-28 10:50] zhuangjh3 commented on #1282
Thank you, and I would like to ask if the symbol does not start with 'sai_metadata_', what might happen to the program when it is running?

[2021-07-28 10:59] kcudnik commented on #1282
nothing, its just to make sure that all symbols exported are in this format

[2021-07-28 11:05] zhuangjh3 commented on #1282
I see, thank you！

[2021-07-28 11:05] #1282 closed

[2021-08-24 10:32] DusanKrdzic opened #1294 "fexsai/p4c build error"
I followed the instructions from README file - https://github.com/opencomputeproject/SAI/blob/master/flexsai/p4/README.md in order to link and build `p4lang/p4c` with `SAI p4 backend` extension.
With `make -jX` command an error occurred:
`Error copying directory from "/.../p4c/p4_14include" to "/.../p4c/build/p4_14include"`, where `p4c` is my local `p4c` repo cloned from `p4lang/p4c`.
There was no

[2021-08-28 06:21] kcudnik commented on #1254
obsoleted

[2021-08-28 06:21] #1254 closed

[2021-08-30 09:38] 119064273 opened #1302 "src/gen-py/switch_sai' does not exist"
when I install saithrift , meet below error info

 python saithrift/setup.py install
running install
running build
running build_py
error: package directory 'src/gen-py/switch_sai' does not exist

[2021-08-30 09:42] 119064273 commented on #1302
@lguohan can you help to give some advice?

[2021-09-22 09:21] kcudnik commented on #1241
fixed here: https://github.com/opencomputeproject/SAI/pull/1311

[2021-09-22 09:21] #1241 closed

[2021-09-23 02:29] itaibaz opened #1312 "[meta] Add api type cast for gcc-10 enum conversion complain"
https://github.com/opencomputeproject/SAI/pull/1290
Fixes conversion of object type extensions to object type

There are additional error of conversion of extended api type to api type
For example,
meta/saimetadata.c:1464:5: error: implicit conversion from 'enum _sai_api_extensions_t' to 'enum _sai_api_t' [-Werror=enum-conversion]
 1464 |     SAI_API_BMTOR,

[2021-09-23 08:14] kcudnik commented on #1312
i guess there could be more issues like this for all extensions, i doesn't make sense to cast every api in parser, but maybe workaroud for this would be to add pragma with disable enum-conversion warning, for entire saimetadata.c, @itaibaz what do you think?

[2021-09-23 16:03] itaibaz commented on #1312
I'm fine with both approaches
Adding the conversion to sai_api_extensions_t to sai_api_t will only need to be done in few places (at least right now)
But it's correct this can grow in the future with few more types, and enum values
So using a pragma can also be a valid approach

[2021-09-24 12:41] kcudnik commented on #1312
i checked on godbolt.com and there is no flag enum-conversion using gcc 10.3:
[code]

what exact compiler version are you using to get this enum warnings ?

[2021-09-24 13:00] kcudnik commented on #1312
Fix: https://github.com/opencomputeproject/SAI/pull/1317

[2021-09-30 00:59] #1312 closed

[2021-09-30 01:01] itaibaz opened #1319 "spelling mistakes in meta files"
@kcudnik
There are few clear spelling mistakes in meta files

2021-09-30 00:58:53,243 - spellchecktoolbox - INFO - Checking misspellings in file: mlnx_sai/src/meta/saimetadatautils.c for revision: b76ebaa7ef05fcbfd0488e467d8584da07c3285e
2021-09-30 00:58:53,320 - spellchecktoolbox - ERROR - Misspelled word: condtion --> line: 460 : /* attr list can be NULL, condtion could be based on default value

[2021-09-30 09:05] kcudnik commented on #1319
this issue is duplicate of the https://github.com/opencomputeproject/SAI/issues/1225 which you also opened, and i still didn't had time to add spell checker, since i treated this as low priority, let me sit on this since this should be easy to implement

[2021-09-30 11:49] kcudnik commented on #1319
Fix https://github.com/opencomputeproject/SAI/pull/1320

[2021-10-01 08:07] #1225 closed

[2021-10-01 08:07] #1319 closed

[2021-10-05 16:10] mikeberesford opened #1322 "SAI interface does not provide a way to set the FEC and speed of a port together"
There are cases where we technically cannot change from one port speed/FEC combination to another using the existing single-attribute write.

As an example: 40G/FC-FEC to 100G/RS-FEC - it is not valid to change to 100G with FC-FEC enabled, and likewise it is not valid to enable RS-FEC on a 40G link.

Previous discussion on this was under https://github.com/opencomputeproject/SAI/pull/1308

Some id

[2021-10-14 16:01] mikeberesford commented on #1322
Introduce another attribute? On use-case to set speed+fec together, then set speed and fec, then set attribute to false. Effectively start limited transaction (just for speed and FEC)

[2021-10-18 14:45] kcudnik commented on #1322
good approach seems to me the one that i proposed with bulk operation:

at some angle it would be similar to the transaction you are proposing?

[2021-10-19 11:51] kcudnik commented on #1322
yes, bulk is not defined yet, but there is no problem to add bulk api support there as 4 function pointers

[2021-10-25 18:50] ushax opened #1330 "Undefined reference error while building saiserver binary using thrift 0.11.0 in saithrift."
I am getting the following error while running make command in saithrift. This issue was not present in thrift 0.9.2 version which was being used earlier in saithrift.

`mkdir -p ./src/obj
g++ -L/usr/lib -Wl,-rpath=/usr/lib ./src/obj/switch_sai_rpc_server.o ./src/obj/saiserver.o -o saiserver \
           ./src/obj/librpcserver.a -lthrift -lpthread -lsai
./src/obj/switch_sai_rpc_server.o: In functi

[2021-10-29 06:46] cutwLilyWorking opened #1333 "How to modify the switch.p4 in physical switch through SONiC SAI?"
As far as we know that barefoot x86_64-ingrasys_s9180_32x-r0 switch is both in the list of supported platforms of SONiC and P4. And we also succeeded in pinging from PC_A to PC_B with topology like "PC_A ----switch_s9180_sonic------PC_B".
Now we are facing the problem that we can't find where is to modify the switch.p4 on which is SONiC built based through SAI. We heard that we should modify some

[2021-11-03 21:03] mad4321 opened #1337 "SAI vlan translation/ vlan tunneling"
Is the SAI has support for 802.1q vlan translation or double tag tunneling or selective inner vlanid tunneling?

For example it is possible to create vlan translation in SONiC on Broadcom ASIC via bcmsh, but I did't find such functionality via sai_api.

[2021-11-07 14:37] richardyu-ms commented on #1164
Yes, the saiserver environment is quite old, besides the updates here, some other documents also added at https://github.com/Azure/sonic-mgmt/tree/master/docs/testbed/sai_quality
thanks for your feedback.

@lguohan could you help close this issue?

[2021-11-09 07:57] stephengao-ragilenetworks commented on #1164
@richardyu-ms Thanks, it helps. This issue was opened by my previous account, may need an administrator to close it.

[2021-11-11 06:15] richardyu-ms commented on #1164
close this one. thanks for all.

[2021-11-11 06:15] #1164 closed

[2021-11-15 08:35] ushax commented on #1330
Thrift 0.11.0 doesn't require boost which was not the case with thrift 0.9.2. Can we remove dependency of saithrift on boost by replacing boost::shared_ptr with std::shared_ptr?

[2021-11-15 08:38] ushax commented on #1330
Looks like we cannot, because Thrift 0.11.0 is using stdcxx in gen files which is based on boost. stdcxx is depreciated now by Apache.

[2021-11-17 03:18] richardyu-ms commented on #1330
@Ryoyang could you check if that issue occurred in your build process?

[2021-11-17 03:41] richardyu-ms commented on #1337
could you help elaborate on the description about `double tag tunneling or selective inner vlanid tunneling?`

for port tagging, you can set different tags on different vlan on the same port by the method https://github.com/opencomputeproject/SAI/blob/4c40bac0d08dec7fa1b4db50bd7a1c6c5af0c004/inc/saivlan.h#L549

and you can set the VLAN port attribute by method, https://github.com/opencomputeprojec

[2021-11-17 03:44] richardyu-ms commented on #1141
@tim-rj what's the current testing status?
you need to use the ptf topology to run the SAI PTF test.
actually, you can make some change on the topology configurations, for sai testing, it always requires the ports are up and no default configuration interfere the SAI testing, like vlan/portchannel configurations.

[2021-11-17 06:52] ushax commented on #1330
It is safe to remove boost in Thrift 0.11.0. We just have to change boost::shared_ptr to std::shared_ptr at line 77 in switch_sai_rpc_server.cpp and remove -DFORCE_BOOST_SMART_PTR macro from line 6 in makefile.

[2021-11-23 08:50] ushax commented on #1330
On running saiserver binary, I am getting the request is not supported error in sai_switch_api->create_switch
`profile map file: sai.profile
port map file: port_config1.ini
insert: SAI_INIT_CONFIG_FILE:/usr/share/sonic/hwsku/th_32x100.config.bcm
insert: SAI_NUM_ECMP_MEMBERS:64
Error: Failed to create switch: -2
`
I am on system `Linux sonic 4.19.0-12-2-amd64 #1 SMP Debian 4.19.152-1 (2020-10-18) x

[2021-11-26 03:30] RyoYang commented on #1330
Did you stop the other containers ("swss" "syncd" "radv" "lldp" "dhcp_relay" "teamd" "bgp" "pmon" "telemetry" "acms" "snmp") after deploying the mini-graph?
The detailed step you may refer to this doc:
[SAI Testing Example](https://github.com/Azure/sonic-mgmt/blob/master/docs/testbed/sai_quality/SAI.Example.md)

[2021-12-07 03:51] mdivyamohan opened #1353 "Question: Expected usage of sai_fdb_event_notification_fn"
Hello,

When static FDB entries are added by user (using Adapter Host, eg: SONiC), is the SAI adapter expected to invoke the fdb event notification function? Or is event notification to be used only for dynamically learned fdb entries?

I'll try to summarize the use case here -

[code]

Now, after step 3 depending on vendor, ASIC might or might not generate a notification for static fdb entry addi

[2021-12-07 10:44] kcudnik commented on #1353
It seems redundant to send notification when user creates explicitly static entries, compared to dynamic entries when they can be created/remove at any time by device learning, hence notification is required. This approach seems logical to me, and so far platforms that im aware like mlnx or brcm, follow the same (correct me if i'm wrong here) (although i don't remember if sonic is creating any sta

[2021-12-08 09:41] #1277 closed

[2021-12-15 22:56] smaheshm opened #1360 "[SAI][Thrift] Add unit tests to verify auto generated code."
Add tests to verify:
* autogenerated SAI server
* SAI RPC frontend server - test thrift to SAI and SAI to thrift conversions

Some ideas:

Implement "sai_api_query" to return mock SAI API tests.

Start the thrift server as part of the unit test fixture, include instantiating a thrift client.

For example to test “sai_thrift_create_acl_table(attrs)”, the mock API can be something like:

sai_object_

[2021-12-15 22:58] smaheshm commented on #1360
@aljer I'm unable assign to you. Assign to yourself if you can. thanks!

[2021-12-22 00:06] jusherma opened #1370 "Doxygen build failure on bullseye"
The bullseye release of Debian uses a new version of doxygen, which seems to be incompatible with the doxygen files under meta/. This can be easily reproduced by trying to build the following Dockerfile:

[code]

This produces a lot of errors like this:

[code]

These errors go away when the Dockerfile is modified to use `sonic-slave-buster:latest` as the base image.

Please let me know if I'm mis

[2022-01-10 16:28] kcudnik commented on #1370
yes, those versions of doxygen are not compatible it will require change "\\n" in ALIAS to "^^" like this in Doxygen file:
[code]

[2022-01-11 01:36] jusherma commented on #1370
Thanks. After making that change and running `doxygen -u` to auto-update the Doxyfile, the build now progresses past the doxygen stage (and gets stuck at gcc-10 compiler warnings).

I was under the impression that this repo will need to build successfully in a bullseye environment in order for sonic-buildimage to build under bullseye (building `target/debs/bullseye/libsairedis_1.0.0_amd64.deb` fai

[2022-01-11 11:32] kcudnik commented on #1370
not sure about bullseye build, is that using gcc-10 ? what warnings are you seeing there ?

[2022-01-12 00:52] jusherma commented on #1370
Yeah, gcc-10. Seems like it's more strict than gcc-8 (buster). The warnings seem to be coming from generated code, so I'm not sure how/where to fix it:

[code]

[2022-01-21 02:17] kuanyu99 commented on #1337
I add some SAI definition to support vlan translation/QinQ feature.
#1400

The overall HLD can refer to [https://github.com/Azure/SONiC/pull/915](https://github.com/Azure/SONiC/pull/915)

[2022-01-26 00:05] alexrallen commented on #1370
@kcudnik We are also facing this issue on SONiC when attempting to upgrade the syncd containers to bullseye. Is there a planned long term solution for this?

[2022-01-26 18:27] kcudnik commented on #1370
(sai_object_type_t) cast needs to be added explicitly to generated tests, or compiler pragma to ignore enum conversion, this was already done for saimetadata.c

[2022-01-28 21:25] alexrallen commented on #1370
@kcudnik Apologies, I was referring to the Doxygen issue specifically. Is there a planned fix to allow it to build simultaneously in buster and bullseye? Are we planning to break compatibility with buster?

I am working on upgrading the NVIDIA syncd container in SONiC right now and we will need SAI to support building within a bullseye environment to complete that work.

[2022-02-15 19:55] kcudnik commented on #1370
not sure yet how doxygen issue could be fixed, since it require different syntax in file "Doxygen" and if we want to make it work for 2 different doxygen version, then we probably need to Doxygen files, and some logic inside Makefile to support both, and on the fly use correct file, it's tricky since doxygen had breaking change in config

[2022-02-24 20:46] skbarista opened #1419 "Macsec:Support for One bit AN attribute"
Some platforms supports only a 1-bit association number with values 0 or 1. Add an attribute that can be queried to determine if this platform can support only 1-bit AN.

typedef enum _sai_macsec_attr_t
{
..
/**
* @brief Available MACsec Secure Associations.
*
* @type bool
* @flags READ_ONLY
*/
 SAI_MACSEC_ATTR_MAX_SECURE_ASSOSIATIONS_PER_SC,

}

[2022-02-24 21:23] #1419 closed

[2022-03-10 18:26] SidharajU opened #1435 "Clarification needed on SAI_PORT_ATTR_SUPPORTED_FEC_MODE and SAI_PORT_ATTR_SUPPORTED_FEC_MODE_EXTENDED attributes"
Hi,

I have question user expectations when the following attributes are called:
SAI_PORT_ATTR_SUPPORTED_FEC_MODE
SAI_PORT_ATTR_SUPPORTED_FEC_MODE_EXTENDED

FEC modes can be different based on the port speed. So does this attribute provide a list of all supported FECs for the configured speed or it should provide a list of all FEC modes supported by the port regardless of the configured speed. Fro

[2022-03-29 18:06] alexrallen commented on #1370
@kcudnik I believe you may close this issue.

[2022-03-30 12:35] #1370 closed

[2022-03-31 17:03] SidharajU commented on #1435
Based on today's discussion in the OCP SAI meeting, its best to return all supported FEC modes by the chip. In certain cases, supported FEC modes should be known to the user before even configuring the speed so it is required to return all supported FEC modes.
If there is a requirement to return speed based FEC modes, then we can add a separate attribute to support it.

[2022-04-14 13:30] vboykox opened #1470 "SAI_VIRUTAL_ROUTER_VIOLATION_TTL1_ACTION vs SAI_HOSTIF_TRAP_TYPE_TTL_ERROR clarification"
If we have both SAI_HOSTIF_TRAP_TYPE_TTL_ERROR and SAI_VIRUTAL_ROUTER_VIOLATION_TTL1_ACTION configured, does one config
just take precedence over another or a more complex behaviour is expected in this
case?

I have not found a clear explanation on how these two attributes are supposed to work
together in the docs.
Thanks in advance.

[2022-05-06 07:01] chuzirui commented on #1069
-using boost::shared_ptr;
+using std::shared_ptr;

[2022-06-13 17:46] chrispsommers opened #1490 "[SAI][Thrift]Missing dependencies for meta generation: Doxygen, graphviz,aspell-en"
The [gensairpc.README](https://github.com/opencomputeproject/SAI/blob/master/meta/gensairpc.README) doesn't specify all the required dependencies. Besides the ones listed below:
[code]
The following are required:
[code]

[2022-06-25 17:54] chrispsommers opened #1513 "make saithrift-build doesn't pass flags to gensairpc.pl"
The new autogenerated sai-thrift RPC merged in  https://github.com/opencomputeproject/SAI/pull/1325 calls `gensairpc.pl` without any flags, or options to specify flags. This prevents calling e.g. with `-ve` for verbose output and inclusion of experimental headers.

The make call chain is:
[code]
which effectively calls:
[code]
which results in the following:
[code]
I propose we add a way to pass o

[2022-06-25 20:44] reshmaintel commented on #1490
@pkochmanska Hi Patrycja, Could you please look at this issue from Chris. Thank you.
@vmytnykx Copying as well.

[2022-06-27 11:17] vmytnykx commented on #1490
@chrispsommers  @pkochmanska I think the list of pkgs depends on distro you are using, so it may worth to mention about it in this README as well. If those pkgs are common for all debian, so it is ok to just add to the end.

[2022-07-11 19:55] chrispsommers opened #1529 "[sairpcgen] autogenerated code creates type mismatches for sai extension headers"
When auto-generating saithriftv2 server code using `perl -Irpc gensairpc.pl -ve` to enable extensions, a type mismatch occurs, for example see below. I will file a subsequent PR to fix this.
[code]

[2022-07-11 20:00] chrispsommers opened #1531 "[sairpcgen] Extension headers missing from some include paths in Makefile"
When building saithriftv2, extension headers are missing from some include paths, for example see the build run below. I will follow-up with a PR to fix this.
[code]

[2022-07-11 20:07] chrispsommers opened #1532 "[sairpcgen][ENH] Add way to link additional libraries to compiled rpcserver"
Some libsai implementations require additional libraries besides `libsai.so` to link the final target. There needs to be a way to pass instructions to the final linker phase in the Makefile, e.g. see code below. I will follow-up with a PR to add this.
[code]

[2022-07-14 22:40] chrispsommers opened #1535 "[sairpcgen][ENH] Avoid crashing sairpcserver due to null SAI func ptrs"
While developing a SAI library for a new target device, I noticed the saithriftv2 saiserver crashing with a seg fault, without declaring any errors. The root cause was `libsai` returning garbage or null SAI function pointers in a `sai-api_query()` function call. The server can be made more immune to such situations by at least detecting a NULL pointer. During development, it can be useful to retur

[2022-07-18 01:33] chrispsommers opened #1537 "[sairpcgen] Experimental header constants missing from auto-generated sai_headers.py"
It appears that experimental headers do not generate constants in sai_headers.py. Curiously, these constants are referenced in the auto-generated sai_thrift API code in `sai_adapter.py`. As an example, the attached archive contains experimental headers from the [DASH](https://github.com/Azure/DASH) project. If you generate the sai-thrift RPC via `gensairpc.pl -ve` it will produce the `gen-py/` dir

[2022-07-18 13:50] vmytnykx commented on #1537
Hi @chrispsommers

There is still an issue with proper including experimental into SAI thrift generator when experimental and generic SAI headers are located in different folders. To overcome this, you can copy all headers into one folder `/usr/include/sai` (as described in https://github.com/opencomputeproject/SAI/blob/42611d526b7f630c1891b964649d5fabd7e5f19b/ptf/SAI_PTF_user-guide.md#generate--b

[2022-07-18 18:30] chrispsommers commented on #1537
HI @vmytnykx I tried the fix above (specifically, `cp ./experimental/*.h /usr/include/sai/`) and indeed it results in generating the constants in `sai_headers.py`. This workaround means this issue is not a blocker anymore. Thanks!

[2022-07-19 14:40] kcudnik commented on #1529
cast needs to be done explicitly inside rpc frontend, is this for gcc 10 ?

[2022-07-19 14:54] kcudnik commented on #1529
i approved that changes

[2022-07-19 14:57] kcudnik commented on #1531
probably addressed in here: https://github.com/opencomputeproject/SAI/pull/1533, when experimental directory headers needs to be added to compilation path

[2022-07-26 00:57] #1513 closed

[2022-08-02 12:52] richardyu-ms commented on #1531
cause this issue block the saithrift v2 related docker's build (ptf-sai), try to resolve it here https://github.com/opencomputeproject/SAI/pull/1552/files

[2022-08-03 00:49] chrispsommers commented on #1531
Hi kind reviewers @kcudnik @richardyu-ms I determined that this issue is bogus, and that copying SAI extension headers to `/usr/include/sai` as explained in [SAI_PTF_user-guide](https://github.com/opencomputeproject/SAI/blob/master/ptf/SAI_PTF_user-guide.md#generate--build) eliminates the problem. I will back out the corresponding changes in https://github.com/opencomputeproject/SAI/pull/1533. Tha

[2022-08-03 14:45] #1531 closed

[2022-08-04 08:07] #1529 closed

[2022-08-04 18:05] #1532 closed, assigned to nobody

[2022-08-04 18:06] chrispsommers commented on #1532
Fixed by https://github.com/opencomputeproject/SAI/pull/1533

[2022-08-07 09:54] #1535 closed

[2022-08-16 12:45] yohadd opened #1570 "Saistatus.h: saistatus range macros do not handle negative statuses (Linux) well"
When using saistatuses that are in range (SAI_STATUS_*_0 - SAI_STATUS_*_MAX) ,

on Linux setup (negative saistatus), the helper MACROs SAI_STATUS_IS_*(x), returns False for statuses in range except for the SAI_STATUS_*_0).

It seems that they are not handling negative statuses well.

For example (in saistatus.h):
#define SAI_STATUS_CODE(_S_)    (-(_S_))

/**
 * @brief Invalid attribute value
 *
 *

[2022-08-22 14:35] kcudnik commented on #1570
this problem was already discussed here: https://github.com/opencomputeproject/SAI/pull/1235 but not addressed

[2022-08-27 14:15] stephengao-ragilenetworks opened #1588 "Which is the SAI test framework entrance?"
Hi all,

https://github.com/opencomputeproject/SAI/tree/master/test/saithrift
and
https://github.com/opencomputeproject/SAI/tree/master/ptf

What is the difference between these two frameworks? Can anyone answer? I am planning to build a framework from this repo to test SAI on our device. Which one should I choose? Cheers!

[2022-08-29 08:37] vmytnykx commented on #1588
Pls read the user guide here: https://github.com/opencomputeproject/SAI/blob/master/ptf/SAI_PTF_user-guide.md
SAI thrift design doc here: https://github.com/opencomputeproject/SAI/blob/master/doc/SAI-Proposal-SAI-PTF.md#autogeneration

Hope this will help.

[2022-08-29 08:43] stephengao-ragilenetworks commented on #1588
@vmytnykx Thanks, already in the client side progress. Hope it will work.

[2022-08-30 05:22] stephengao-ragilenetworks opened #1591 "Conflicts between some sonic debs and the thrift sources!"
**When I try to install _libboost-all-dev libssl-dev_ in this step:**
https://github.com/opencomputeproject/SAI/blob/master/ptf/SAI_PTF_user-guide.md#build-sai-thrift-server-and-python-client-dut-side

**An error occurred:**
root@sonic:/home/admin/thrift-0.11.0# apt-get install libboost-all-dev
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Some pa

[2022-09-20 01:17] richardyu-ms opened #1603 "[SAI-PTF] Need some more common way to initialized Ports when setup switch"
##Summary

For initalizing the ports when setting up the switch for some basic test configurations. Initalize the prot by method 'remove-recreate' does not work in some platform,  We need more common way to initalize the ports.

## Details
There is code for init the port [createPorts](https://github.com/opencomputeproject/SAI/blob/master/ptf/sai_base_test.py#L351)

[code]

But this procedure is no

[2022-09-20 03:14] Gfrom2016 opened #1604 "[SAI-PTF] Need to divide the test case according to test objective"
# Summary
Currently, there are multiple test cases in a class. During the testing process, multiple small test cases in a class are likely to affect each other and cause the test to fail.

## Details
Take FdbLearnTest class for example, there a two subtest: dynamicMacLearnTest() and macLearnErrorTest().
[code]
## Error message
When we run saifdb.FdbLearnTest, it will run two subtests in turn. We r

[2022-09-20 05:15] Gfrom2016 opened #1605 "[SAI-PTF] default allow_mac_move value is different from different platforms"
# Summary
For static FDB entry, the default value of allow_mac_move attribute is false according to spec. But different platforms have different implementations of this attribute.

## Details
When we ran ptf test cases across different platforms, we found that different platforms' default configuration of allow_mac_move when calling `sai_thrift_create_fdb_entry()` is different.
Take nativeVlanTest

[2022-09-20 06:23] zhoudongxu opened #1606 "[SAI-PTF] Need to create default route for default VRF in SaiHelper setup"
**Summary**

Default route for default VRF is mandartory. Creating route in default VRF will failed if there aren't default routes.

**Error message**

![image](https://user-images.githubusercontent.com/22717106/191181071-7ccdbd19-d031-4837-a920-46e1288ba074.png)
![image](https://user-images.githubusercontent.com/22717106/191181922-cb49eca3-4ab5-4b33-9bce-e3d8db001972.png)

**Proposal**

In SaiHel

[2022-09-20 06:45] zhoudongxu opened #1607 "[SAI-PTF] Ordering the create/delete api calling sequence - nhop and neighbor"
**Summary**

   If object A have dependence on  object B, Creating A before B is necessary in some platform. If object A have dependence on object B, Deleting A after B is necessary

**Details**
   For example, Creating object must be in order neighbor->nexthop->route, otherwise, it will failed. Below code will fail in other platform because creating nhop  is before creating neighbor, however nhop

[2022-09-26 11:58] richardyu-ms opened #1610 "[SAI-PTF]Precheck or handle the error on unimplemented interface/attribute"
## Summary
Some interfaces are not implemented on some platform, then the test cases might failed in different test process, like setup, teardown and runtest method.
But for the unimplemented interface, they should be distinguished or they should not be failed but skipped.

## Details

For example, for the test cases https://github.com/opencomputeproject/SAI/blob/master/ptf/saifdb.py#L36 and https

[2022-09-26 13:27] richardyu-ms commented on #1607
@ravi861 could you help check this issue

[2022-09-26 13:27] richardyu-ms commented on #1610
@ravi861 could you help check this issue

[2022-09-26 13:27] richardyu-ms commented on #1605
@ravi861 could you help check this issue

[2022-09-26 13:27] richardyu-ms commented on #1604
@ravi861 could you help check this issue

[2022-09-26 16:59] tbgowda opened #1611 "[Question] System Port Admin State"
Hello,

I am trying to understand the admin state system port attribute. Any insights will help.

[code]
a. What exactly is this attribute referring to?
b. What should be the behavior of the implementations when this attribute is set?
c. Since its default value is false, what should the implementations return for system ports created during switch initialization? Since there is no way to send a tr

[2022-09-29 08:27] zhoudongxu opened #1613 "[SAI-PTF] sai_thrift_get_xxx_stats function enhancement"
**Summary**
 We  need a new getting stats function which passes a specific counter id as parameter  such as SAI_PORT_STAT_IF_IN_UCAST_PKTS

**Details**
   For example, we must  get all  counters of a port  firstly if  just needing to get  SAI_PORT_STAT_IF_IN_UCAST_PKTS counter.
   There are some problems maybe at this point.   Some vendor will return SAI_PORT_STAT_IF_IN_UCAST_PKTS  counter value a

[2022-09-30 02:30] richardyu-ms opened #1614 "[SAI-PTF] Enhance the function for getting counters in sai_adapter.py"
## Summary
In some platforms, getting the counters (stat) from some object like port, queue, or priority groups, we can just get the available one, and if we use some unavailable one, there might be some unexpected behaviors, and all the counter value might be zero, including the available ones and unavailable ones. then we need a more accurate way to get the counter (from method get_xxxx_stat)

#

[2022-09-30 02:30] richardyu-ms commented on #1613
duplicated with https://github.com/opencomputeproject/SAI/issues/1614

[2022-09-30 02:30] #1613 closed

[2022-09-30 04:02] richardyu-ms commented on #1614
@ravi861, please help to check this issue, any suggestion are welcome.

thanks.

[2022-10-08 08:24] fan-leo opened #1618 "[SAI-PTF] how to run the saihostif.py for saithrfitv2 test"
in saihostif.py, the code below  can't work well, because the ptf docker can't open the host interface created in the DUT.
`hif1_socket = open_packet_socket(hostif1_name)`
Probably because I'm using a wrong test method , So please show me the right method for hostif test,
Thanks a lot

[2022-10-11 08:45] Gfrom2016 opened #1619 "[SAI-PTF] Wrong mac address representation in test case"
# Summary
There are several wrong mac addresses in the ptf test case where mac addresses are 56-bit instead of 48-bit. Need to change them to the correct format.

# Error detail
In some test cases, there are wrong mac address representations, like the one below.
https://github.com/opencomputeproject/SAI/blob/1b268a820ddb29341f71d1b2f4d6a2444f965bc3/ptf/saivlan.py#L63

# Proposal
Change the wrong m

[2022-10-16 08:57] richardyu-ms opened #1622 "[SAI-API][Question]Behavior Mode for using SAI API on different hardware platforms"
# Summary
From some of the issue submitted in SAI Community, is there should be some definitation for the behavior mode of the usage on SAI APIs?

# Details

**The Switch Abstraction Interface defines the API to provide a vendor-independent way of controlling forwarding elements, such as a switching ASIC, an NPU or a software switch in a uniform manner.**

For those APIs, we have defined what's th

[2022-10-21 08:39] richardyu-ms commented on #1622
@ravi861, please help to check this issue, any suggestion are welcome.

thanks.

[2022-10-21 08:39] richardyu-ms commented on #1619
@ravi861, please help to check this issue, any suggestion are welcome.

thanks.

[2022-10-25 08:28] richardyu-ms opened #1627 "[TestGap] A test case is required to verify DSCP_TO_TC_MAP is not cleared after a port is added to a LAG"
**Description**
A test case is required to verify `DSCP_TO_TC_MAP` is not cleared after a port is added to a LAG.

**Test steps**

~~1. Remove a port from vlan~~
~~2. Add the port to a LAG~~
~~3. Send some traffic to the port, verify the `DSCP_TO_TC_MAP`  is still working.~~
    ~~> This can be done by checking the egress queue, or the tos value of egress packets.~~

**I have confirmed that the ab

[2022-10-26 01:42] richardyu-ms commented on #1610
proposed a PR for this issue, but might need some other work to make the code use the specified counter that supported and needed.
https://github.com/opencomputeproject/SAI/pull/1626

[2022-10-26 01:43] richardyu-ms commented on #1614
proposed a PR for this issue, but might need some other work to make the code use the specified counter that supported and needed.
https://github.com/opencomputeproject/SAI/pull/1626

[2022-10-26 01:51] richardyu-ms commented on #1610
Merged a PR for partially resolved this issue.
https://github.com/opencomputeproject/SAI/pull/1609
And cherry-picked to v1.7
https://github.com/opencomputeproject/SAI/pull/1625

**To-Dos**
As comments in https://github.com/opencomputeproject/SAI/pull/1609
 "The correct approach is by verifying if the attribute is supported using sai attribute query capability."
Use a more elegant way to check the

[2022-10-26 02:17] bingwang-ms commented on #1627
Step 3 doesn't make sense to me. Why do we need to remove the `DSCP_TO_TC_MAP` on ports?

[2022-10-26 02:18] bingwang-ms commented on #1627
Also, if we don't remove existing `DSCP_TO_TC_MAP` for ports, step 6 is not required.

[2022-10-26 02:42] richardyu-ms commented on #1627
simplified the steps

[2022-10-26 10:05] fan-leo commented on #1618
such as：
[code]

[2022-11-30 03:01] #1614 closed

[2022-11-30 03:01] #1610 closed

[2022-11-30 03:02] #1606 closed